.action-float-bar
{
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;

	.action-float-bar-inner	
	{
		background: $light-color;
		padding: 15px 15px;
		box-shadow: 0 0px 9px rgba(0, 0 , 0 , 0.5);
	}
	
}