<div class='popover-container' style="position: absolute;">
    <div class="alert alert-warning alert-dismissable" tabindex="-1" role="dialog">
        <div>
            {{message}}
            <form class="form-inline">
                <div class='panel-body'>
                    <button type="button" class="btn"  ng-click="ok()">YES</button>
                    <button type="button" class="btn btn-default " ng-click="cancel()">
                        NO
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>