
<div  class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div modal-header="Confirmation"></div>
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="clickConfirm();$hide();">Yes</button>
          <button type="button" class="btn btn-primary" ng-click="$hide()">Cancel</button>
        </div>
      </div> 
    </div>
</div>