<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div>
                <form class="form-inline">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Add new user</h3>
                        </div>
                        <div class='panel-body'>
                            <div class="containter">
                                <div class="row" style="margin: 15px 2px 10px 5px;">
                                    <!--<form ng-submit="addNewSiteContact($event)">-->
                                    <label class="col-sm-2" style="font-weight: bold">Email</label>
                                    <input type="text" required placeholder="Email" style="width: 250px" ng-model="newContact.email" id='newContactEmail'></br>
                                    <label class="col-sm-2" style="font-weight: bold">Name</label>
                                    <input type="text" placeholder="First name" required style="width:125px" ng-model="newContact.fName">
                                    <input type="text" placeholder="Last name" required style="width:125px;" ng-model="newContact.lName"></br>
                                    <label class="col-sm-2" style="font-weight: bold">Phone</label>
                                    <input type="text" placeholder="Phone" style="width:250px;" ng-model="newContact.phone"></br>
                                    <label class="col-sm-2" style="font-weight: bold">Role</label>
                                    <select ng-model="newContact.role" required>
                                        <option disabled value="">Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="customer">Customer</option>
                                    </select> &nbsp;
                                    <div style="height:25px">
                                        <span ng-show="newContact.role=='admin'">This is Admin</span>
                                        <span ng-show="newContact.role=='customer'">This is  Customer</span>
                                    </div>
                                    <hr> <!-- ================================================================== -->
                                </div>
                                <label class="col-sm-5" style="font-weight: bold">Assigned properties</label>
                                <br>

                                <div class="btn-group">
                                        <span ng-repeat="s in addedSites" class="btn btn-default hover-anchor"  bs-tooltip
                                              title="{{s.siteName}}">
                                            <span class="pull-right hover-action" >
                                                 <a ng-click="removeFromAddedSiteList(s)"  href><i class="fa fa-times fa-fw"></i></a>
                                            </span>
                                            <span>{{s.siteName}}</span>
                                        </span>
                                </div>
                                <hr>
                                <div class="row" style="margin: 15px 2px 10px 5px;">
                                    <form ng-submit="addNewRepContact($event)">
                                        <label class="col-sm-4" style="font-weight: bold">Add all properties of client</label>
                                        <input type="text" required placeholder="Client email id" style="width: 250px;" ng-model="newRep.email" id='newRepEmail'
                                               user-auto-complete="clientSelected"  bs-typeahead>
                                        <button ng-click="addClientsProperty($event);" type='button' class='btn btn-primary'>ADD</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <button type="button" class="btn btn-default" ng-click="$parent.closeModal();">CLOSE</button>
                        <button type="button" class="btn btn-default" ng-click="$parent.SaveUser();">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
