<style>
    .ui-select-container {
        width: 300px;
        display: inline-block;
    }
    .ui-select-toggle, .ui-select-search {
        width: 300px !important;
    }
</style>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="hideSiteEditModal()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div>
           		<form class="form-inline" ng-submit="saveSite()">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Property - {{site.siteName}}</h3>
                        </div>
                        <div class='panel-body' style='line-height:1.5em;'>
							<div ng-if="auth.isAtleast('inventory')">
                                <ui-select ng-model="selectedClient.selected" on-select="onSelectSite($item, $model)">
                                    <ui-select-match placeholder="Which client owns this property?">
                                        <span ng-bind="$select.selected.clientName"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in (clients | filter: $select.search) track by item.clientID">
                                        <span ng-bind="item.clientName"></span>
                                    </ui-select-choices>
                                </ui-select>

                                <button class="btn btn-default" ng-show="selectedClient.selected" ng-click="copyAddressFromClientToNewSite(site.clientID)"
									onclick="return false;"><i class='fa fa-copy'></i> Copy Address</button>
                            </div>
                            <div class='silver'>Name:</div>
							<div><input type="text" ng-model="site.siteName" size="40" required></div>
                            <div class='silver'>Address:</div>
                            <div><input type="text" ng-model="site.street" size="50" address-auto-complete="updateAddess" address="site" bs-typeahead></div>
                            <div class='silver'>City:</div>
                            <div><input type="text" ng-model="site.city" size="50"></div>
                            <div class='silver'>State:</div>
                            <div><input type="text" ng-model="site.state" size="10"></div>
                            <div class='silver'>Zip:</div>
                            <div><input type="text" ng-model="site.zip" size="20"></div>

							<!-- this is here so user can hit ENTER to submit form -->
							<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <span ng-show="site.siteID">
                            <input type="submit" value="UPDATE" class='btn btn-primary'>
                            <button type="button" class="btn btn-info" site-users-edit-modal site="site">
                                EDIT USERS
                            </button>
                        </span>

                        <span ng-show="!site.siteID">
                            <button type="button" class='btn btn-primary' site-users-edit-modal before-open="saveSite" site="site">
                                SAVE AND ADD CONTACTS
                            </button>
                            <input type="submit" value="SAVE" class='btn btn-info'>
                        </span>

                        <button type="button" class="btn btn-default" ng-click="hideSiteEditModal()">CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
