/nbproject/
/.idea/
#/vendor/
composer.lock
.DS_Store
tmp/
phpMyAdmin/
public/adm
public/*
nohup.out
*.tmp
node_modules/
php/
src/bower_components
x
x[0-9]
x[0-9][0-9]
nohup.out
*.out
*.log
php
*.sass-cache
Thumbs.db