<div class='container'  ng-if="auth.isAtleast('inventory')" ng-controller="UserCtrl">
    <button type="button"
            ng:cloak
            data-placement="center"
            class="btn btn-lg btn-primary pull-right topMargin5 bottomMargin5"
            style="max-width: 100%; width: auto;font-size: 23px;"
            add-edit-user-modal=""
            on-save="refreshSites"
            sites="sites"
            clients="initData.clients"
            data-animation="am-fade-and-scale">New User/Customer</button>
    <br>
    <br>
    <br>
    <br>


    <div>
        <div class='pull-right topMargin5'>
            <div class="btn-group" bs-radio-group id="userFilters" ng-model="status_filters_2">
                <label ng-click="setStatusFilter('userRole', ['admin','staff'])"class="btn btn-default">
                    <input type="radio" value="All Staff"> All Staff</label>
                <label ng-click="setStatusFilter('userRoles', 'admin')" class="btn btn-default">
                    <input type="radio" value="Admin"> Admin</label>
                <label ng-click="setStatusFilter('userRoles', 'sales')" class="btn btn-default">
                    <input type="radio" value="Sales"> Sales</label> &nbsp;
                <label ng-click="setStatusFilter('userRoles', 'foreman')" class="btn btn-default">
                    <input type="radio" value="Foremen"> Foremen</label> &nbsp;
                <label ng-click="setStatusFilter('userRoles', 'crew')" class="btn btn-default">
                    <input type="radio" value="Crew"> Crew</label> &nbsp; &nbsp;
                <label ng-click="setStatusFilter('userRole', 'customer')" class="btn btn-default">
                    <input type="radio" value="Customer"> Customers</label>
                <span class="lnk leftSpace10">
                    <a href ng-click='reset()' bs-tooltip title='Reset'>
                        <b><i class="fa fa-rotate-left _red _size5 topMargin5 hoverHighlight"></i></b>
                    </a>
                </span>
            </div>
        </div>
        <br>
        <input id='searchbox' type='text' ng-model='data.filterTextEntry' size=20 placeholder='Search'>
        <a ng-if="data.filterTextEntry.length" ng-click="data.filterTextEntry=''" class='fa fa-times _red _size5 hand'></a>
        <span class='gray' ng-if='data.getSiteCount()'> &nbsp; {{data.getSiteCount()}} users being displayed.</span>
    </div>
    <BR><BR>

    <div class='table-responsive' ng-if="displayedUsers.length > 0">
        <table class='table table-striped' id='estimatesList'>
            <thead>
            <tr>
                <th class="clickable-header" ng-click="sh.sortByColumn('email')">
                    Email <i ng-class="sh.columnClass('email')" class='silver'></i>
                </th>
                <th class="clickable-header" ng-click="sh.sortByColumn('fName')">
                    Name <i ng-class="sh.columnClass('fName')" class='silver'></i>
                </th>
                <th ng-if="auth.isAtleast('inventory')" class="clickable-header" ng-click="sh.sortByColumn('role')">
                    Role <i ng-class="sh.columnClass('role')" class='silver'></i>
                </th>
                <th class="clickable-header" ng-click="sh.sortByColumn('sessionCount')">
                    Login count <i ng-class="sh.columnClass('sessionCount')" class='silver'></i>
                </th>
                <th>
                    Assigned <i class='silver'></i>
                </th>
                <th style="min-width: 75px;"></th>
            </tr>
            </thead>
            <tbody infinite-scroll="showMoreUsers()" infinite-scroll-distance="3">
            <tr ng-repeat="e in displayedUsers track by e.userID" class='hoverHotspot' id='item_{{e.reportID}}'>
                <td>
                    <span style='text-decoration:underline;cursor: pointer' ng-bind="e.email"  
						  	add-edit-user-modal="e" sites="sites" clients="initData.clients" on-save="refreshSites"></span>

						<!-- email the user -->
                    <button ng-if="e.role=='customer' && e.email!='No Results'" send-portal-link user="e"
                            ><i  bs-tooltip title="Send user a portal login link" class="fa fa-envelope"></i></button>
                    <button ng-if="e.role!='customer' && e.email!='No Results'" confirm-popup="'Email this user their login information?'" 
						  		user-id="e.userID" callback="sendLoginInfo" bs-tooltip title="Send user their login information">
                        <i class="fa fa-envelope"></i></button>


						<!-- get portal link -->
							<button ng-if="e.role=='customer'" type="button" data-placement="top-right" data-html="true" data-autoClose="true" data-autoclose="true"
								data-content="<a href='{{e.portalLink}}' target=_new>{{e.portalLink}}</a>"
								title="Portal Link for {{e.fName}}" data-trigger="click" bs-popover><i class="fa fa-link"></i></button>


                </td>
               <!--<td ng-show="e.fName && e.lName" ng-bind="e.fName+' '+e.lName"></td>-->
                <td  ng-bind="e.name"></td>
                <td class='usertab-role {{e.role}}' style='text-transform: uppercase; font-size:.8em; font-weight:bold;'>
					 	<span ng-if="e.disabled==1" style='color:#f33 !important;'>DISABLED</span>
						<span ng-if="e.disabled!=1" class='userrole-{{e.role}}'>{{e.userRoles_text}}</span>
					</td>
                <td ng-bind="e.sessionCount"></td>
                <td>
                    <a href="" class="badge" style="background-color:blue" ng-bind="e.clientCount"></a>
                    <a href="" class="badge" style="background-color:green" ng-bind="e.siteCount"></a>
                </td>
                <td ></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
