<div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
    <h1 class="col-md-4 pull-left" style="font-weight: bold; font-size:1.2em;">Notes (internal)</h1>
    <a href="" class="col-md-3 pull-right" ng-click="addNote=true">Add notes</a>

		<!-- new note -->
    <div ng-show="addNote==true">
        <form class="form-inline">
        <textarea class="col-md-12" rows="4" cols="50" style="margin-top: 10px" ng-disabled="addingNote" placeholder="Type here......." ng-model="noteInput">
            </textarea>
            <div class='col-md-12 pull-right' style='padding:1em;'>
                <button type="button" class="btn btn-success btn-xs" ng-click="ok()">OK</button>
                <button type="button" class="btn btn-danger  btn-xs" ng-click="addNote=false">CANCEL</button>
            </div>
        </form>
    </div>

		<!-- existing notes -->
    <div ng-repeat="n in notes | orderBy:'noteID':true">

		  <!-- editor -->
        <div  ng-show="n.noteID == editNoteID">
            <form class="form-inline">
            <textarea class="col-md-12" rows="4" cols="50" style="margin-top: 10px" ng-disabled="addingNote" placeholder="Type here......." ng-model="updatedText">
            </textarea>
                <div class='col-md-12 pull-right' style='padding:1em;'>
                    <button type="button" class="btn btn-success btn-xs" ng-click="update(n)">OK</button>
                    <button type="button" class="btn btn-danger  btn-xs" ng-click="cancelEdit()">
                        CANCEL
                    </button>
                </div>
            </form>
        </div>
			
        <div class="col-md-12 pull-left" style="text-align:left; margin: 10px; line-height:1.3em; " ng-bind="n.note"> </div>
        <div class="col-md-2 pull-right hoverHotspot" style="margin: 10px;">
            <i class="fa fa-pencil _grey _size4 hoverDisplay" ng-click="editNote(n)" title="Edit" bs-tooltip style="cursor: pointer;"></i>
            <i class="fa fa-trash _grey _size4 hoverDisplay"
               delete-with-confirm-button
               type="note"
               item-id="{{n.noteID}}"
               active-popover="activePopover"
               on-confirm-callback="deleteCurrentItem()"
               title="Delete" bs-tooltip style="cursor: pointer;"></i>
        </div>
        <div class='col-md-5 pull-right' style="font-size:.9em; color: silver; text-align:right;">&mdash; {{n.name}}, {{n.history}}</div>
		  <div class='col-md-12'><hr></div>
    </div>
    <BR>
    <BR>
    <BR>
</div>
