<div class='container' ng-controller="ClientsCtrl">

	<button type="button"
	ng:cloak
	data-placement="center"
	ng-click="newClientModalOpen()"
	class="btn btn-lg btn-primary pull-right topMargin5 bottomMargin5"
    style="max-width: 100%; width: auto;"
	data-animation="am-fade-and-scale" >New Client</button>

	<div class='table-responsive' ng-if="displayedClients.length > 0">
		<h1>Clients</h1>
		<table class='table table-striped'>
			<thead>
				<tr>
                    <th class="clickable-header" ng-click="sh.sortByColumn('clientID')" style="min-width: 50px;">
                        ID <i ng-class="sh.columnClass('clientID')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('clientName')">
                        Name <i ng-class="sh.columnClass('clientName')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn(['street', 'city', 'state'])">
                        Address <i ng-class="sh.columnClass(['street', 'city', 'state'])" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn(['contact', 'contactPhone'])">
                        Contact Info <i ng-class="sh.columnClass(['contact', 'contactPhone'])" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('siteCount')" style="min-width: 70px;">
                        Sites <i ng-class="sh.columnClass('siteCount')" class='silver'></i>
                    </th>
					<th style="min-width: 75px;"></th>
				</tr>
			</thead>
            <tbody infinite-scroll="showMoreClients()" infinite-scroll-distance="3">
                <tr ng-repeat="c in displayedClients" ng-class="{active : isSelected(c.clientID)}" class='hoverHotspot'>

                    <td>{{c.clientID}}</td>
                    <td>{{c.clientName}}</td>
                    <td>{{c.street}} {{c.city}}, {{c.state}}</td>
                    <td>{{c.contact}} {{c.contactPhone|formatPhoneNumber}}</td>
                    <td><a href='/#sites?clientID={{c.clientID}}' bs-tooltip title='View sites'>{{c.siteCount}}</a></td>

                    <td>
                        <a ng-if="auth.isAtleast('inventory')" ng-click="existingClientModalOpen(c.clientID)" class="fa fa-pencil _grey _size7 hand hoverDisplay" 
								bs-tooltip title="Edit" style="text-decoration: none;"></a> &nbsp;
                        <span bs-tooltip="" title="Delete" style="display: inline-block">
                            <a ng-if="auth.is('admin')"
                               delete-with-confirm-button
                               type="client"
                               item-id="c.clientID"
                               class="fa fa-times _red _size7 hand hoverDisplay"
                               active-popover="activePopover"
                               on-confirm-callback="deleteCurrentItem()"
                               style="text-decoration: none;"></a>
                        </span>
                    </td>

                </tr>
            </tbody>
		</table>
	</div>

</div>
