<div class='container' ng-controller="ClientsCtrl">

	<button type="button"
	ng:cloak
	data-placement="center"
	ng-click="newClientModalOpen()"
	class="btn btn-lg btn-primary pull-right topMargin5 bottomMargin5"
	data-animation="am-fade-and-scale" >New Client</button>

	<div class='table-responsive'>
		<h1>Clients</h1>
		<table class='table table-striped'>
			<thead>
				<tr><th></th><th></th><th></th<th>ID</th><th>Name</th><th>Address</th><th>Contact Info</th></tr>
			<thead>
			<tr ng-repeat="c in initData.clients" ng-mouseover="showEdit=true" ng-mouseleave="showEdit=false" ng-class="{active : isSelected(c.clientID)}">
				<td style="width:36px">
					<a ng-click="queueOrDequeueItemForDelete(c.clientID)" ng-show="showEdit" class="fa fa-times ng-hide _red _size5" data-template="js/partial_views/delete.tpl.html" data-animation="am-flip-x" bs-popover></a>
				</td>
				<td style="width:36px">
					<a ng-click="existingClientModalOpen(c.clientID)" ng-show="showEdit" class="fa fa-pencil _grey ng-hide"></a>
				</td>
				<td>{{c.clientID}}</td>
				<td>{{c.clientName}}</td>
				<td>{{c.street}} {{c.city}}, {{c.state}}</td>
				<td>{{c.contact}} {{c.contactPhone}}</td>
			</tr>
		</table>
	</div>

</div>
