<div ng-controller='EditClientCtrl' class="mobile-view-container treeEditBox mobile-view" >
    <div class="row">
        <div class="content">
            <h2>
                <span ng-if="mode=='new'">New Client</span>
                <span ng-if="mode=='edit'">{{client.clientName}}</span>
            </h2>
            <div class="col-sm-6 col">
                <div class="label-prop">Client type:</div>
                <div class="edit-prop">
						<span ng-if="!initData || !initData.clientTypes">Loading...</span>
						<select class='styled-select' ng-model="client.clientTypeID" ng-if="initData.clientTypes">
							<option value="">(Select One)</option>
							<option ng-repeat="c in initData.clientTypes" value="{{c.clientTypeID}}">
								{{c.clientTypeID | clientTypeName:this}}
							</option>
						</select>
                </div>
                <br/>
                <div class="label-prop">Name:</div>
                <div class="edit-prop">
                        <input type="text" ng-model="client.clientName" required >

                </div>
                <br/>
                <div class="label-prop">Address:</div>
                <div class="edit-prop">
                        <input type="text" ng-model="client.street" >

                </div>
                <br/>
                <div class="label-prop">City:</div>
                <div class="edit-prop">
                        <input type="text" ng-model="client.city" >

                </div>
                <br/>
                <div class="label-prop">State:</div>
                <div class="edit-prop">
                        <input type="text" ng-model="client.state" >

                </div>
                <br/>
                <div class="label-prop">Zip:</div>
                <div class="edit-prop">
                        <input type="text" ng-model="client.zip" >
                </div>

                <br/>
                <div class='leftSpace10'>
                    <button class='btn btn-primary' ng-click="save();">Save</button>
                    <button class='btn btn-primary' ng-click="save(true);">Save and Add a Property</button>
                </div>
            </div>



        </div>
    </div>
</div>
