<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>

			<div>
				<form class="form-inline" ng-submit="saveClient(mode)">
					<div class='panel panel-default bottomMargin0'>
						<div class='panel-heading'>
							<h3 class='panel-title' ng-if="mode=='edit'">Edit Client</h3>
							<h3 class='panel-title' ng-if="mode!='edit'">New Client</h3>
						</div>
						<div class='panel-body'>

							<div>
                            	<button class="btn btn-default" ng-model="client.clientTypeID" bs-options="c.clientTypeID as c.name for c in initData.clientTypes"
									bs-select placeholder="What type of client is this?" onclick="return false;">
									Client Type <span class="caret"></span>
								</button>
                            </div>


                            <div class='silver'>Name:</div>
							<div><input type="text" ng-model="client.clientName" required size="40"></div>

							<div class='silver'>Address:</div>
							<div><input id="clientStreet" type="text" ng-model="client.street" size="40" address-auto-complete="updateAddess" address='client' bs-typeahead=""><div>

							<div class='silver'>City, State/Prov, Postal Code:</div>
							<div>
								<input type="text" ng-model="client.city" size="20">
								<input type="text" ng-model="client.state" size="5">
								<input type="text" ng-model="client.zip" size="10">
							</div>


							<div class='silver'>Accounts Receivable Contact:</div>
							<div>
								<input type="text" ng-model="client.contact" size="20" placeholder='Full Name'>
								<input type="text" ng-model="client.contactPhone" size="20" placeholder='Phone'>
							</div>
							<div style='margin-top:1em;'>
								<input type="text" ng-model="client.contactEmail" size="42" placeholder='Email'>
							</div>


							<!-- this is here so user can hit ENTER to submit form -->
							<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

						</div>
					</div>
					<div class="modal-footer topMargin0">
						<input type="submit" value="SAVE" class='btn btn-primary'>
						<button type="button" class="btn btn-default " ng-click="$hide()">CLOSE</button>
					</div>
				</form>
			</div>



		</div>
	</div>
</div>
