
<div id='basicAlert' style='padding:1em; background-color:#f3ab39; color:#000; font-size:.8em;'>
	Having trouble viewing this page? &nbsp; <a id='basic_pg_link' href=''>Click here for a basic page</a>
	&nbsp; &nbsp;
	<button onclick="jQuery('#basicAlert').hide();">Dismiss</button>
</div>
<div class="action-container" id="action-container" ng-controller="ActionCtrl">
	<div class="row row-action">
		<div class="col-sm-2 col">
			<div class="action-block action-block-1">
				<a href="#/trees" ng-click="gotoTreesPage()" class="btn btn-lg btn-red">HOME</a>
			</div>
		</div>
		<div class="col-sm-4 col">
			<div class="action-block action-block-2">
				<ul class="stats list-unstyled list-inline row">
					<li class="col-xs-4" ng-click="goToEstimatesList()" style="cursor: pointer;" bs-tooltip title='View All Estimates'>
						<a href="#/estimates" class="stat">
							<p class="number">{{initData.stats.reportCount}} <span class="supp" ng-if="initData.stats.reportAlerts" ng-bind="initData.stats.reportAlerts"></span></p>
							<p class="text">Estimates</p>
						</a>
					</li>
					<li class="col-xs-4" ng-click="gotoTreesPage()" style="cursor: pointer;" bs-tooltip title='View All Properties'>
						<a href="#/trees"  class="stat">
							<p class="number" ng-bind="initData.stats.siteCount"></p>
							<p class="text">Properties</p>
						</a>
					</li>
					<li class="col-xs-4" ng-click="gotoTreesPage()"style="cursor: pointer;" bs-tooltip title='View All Trees'>
						<a href="#/trees"  class="stat">
							<p class="number" ng-bind="initData.stats.treeCount"></p>
							<p class="text">Trees</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6 col" ng-if="data.mode()=='estimate'">
			<div class="action-block no-border action-block-3">
				<div class="row row-xs">
					<div class="col-xs-4 col" ng-if="auth.isAtleast('inventory')">
						<a href="#" class="btn btn-sm btn-block btn-green"><i class="fa fa-check"></i> Job Done</a>
					</div>
					<div class="col-xs-4 col">
						<button ng-if="report.actionButton" tos-accept-button on-confirm-callback="approveEstimate()"
                                class="btn btn-sm btn-block btn-green" ng-disabled="disableApproveButton">
								<i class="fa fa-check"></i> Approve Estimate
						</button>
						<!-- possible values for status: approved, completed. billed, paid -->
						<span ng-if="!report.actionButton" ng-class="'big-tag '+report.status" ng-bind='report.status'></span>
					</div>
					
					<!-- hide for now, since the feature is not ready -->
					<div class="col-xs-4 col" ng-if="1==2 && report.actionButton">
						<a href="#" class="btn btn-sm btn-block btn-orange"><i class="fa fa-times"></i> Request Changes</a>
					</div>
					<!-- hide for now, since the feature is not ready -->
					<div class="col-xs-4 col" ng-if="report.token">
						<a href="/go/estimate/pdf/{{report.token}}{{tree_cachebuster}}" target=_new 
						class="btn btn-sm btn-block btn-blue"><i class="fa fa-arrow-down"></i> Download PDF</a>
					</div>
					
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>  
