<div ng-controller='EditTreeCtrl' class="treeEditBox">

    <div class="width50pct pullleft height100pct centerContent" style='padding-left:1em;'>
        <img style='padding:5px; border:1px solid #ccc;' class="width100pct" ng-src="{{tree.imgMed}}{{tree_cachebuster}}"/>
    </div>

    <div class="width50pct pullleft leftSpace20">
        <div class="pullleft">
            <h2>
                <a href ng-if="auth.is('staff')" editable-select='tree.speciesID' onaftersave="updateTreeName()"
                   e-ng-options='obj.speciesID as obj.bothNames for obj in initData.filters.species'>
                    {{ tree.commonName || '(not specified)' }}
                </a>
                <span ng-if="!auth.is('staff')" 
                   e-ng-options='obj.speciesID as obj.bothNames for obj in initData.filters.species'>
                    {{ tree.commonName || '(not specified)' }}
                </span>
            </h2>
            {{ tree.speciesID|speciesID2Name:'bot':this }}<br>
            (treeID: {{treeID}}, SpeciesID:{{tree.speciesID}}, siteID:{{tree.siteID}})<BR><BR>
        </div>
        <div class="clearfloat"></div>
        <div class="pullleft">Diameter:</div>
        <div ng-if="tree.mode=='edit'" class="pullright">
            <a href ng-if="auth.is('staff')" e-ng-options="obj.dbhID as obj.diameter for obj in initData.filters.dbh" editable-select="tree.dbhID">
                {{ tree.dbhID | dbhID2Name:this  || "(not specified)"}}
            </a>
            <span ng-if="!auth.is('staff')" e-ng-options="obj.dbhID as obj.diameter for obj in initData.filters.dbh">
                {{ tree.dbhID | dbhID2Name:this  || "(not specified)"}}
            </span>
        </div>
        <div ng-if="tree.mode!='edit'" class="pullleft centerText">&nbsp; {{tree.dbhID | dbhID2Name:this}}</div>
        <div class="clearfloat"></div>

        <div class="pullleft">Rating:</div>
        <div ng-if="tree.mode=='edit'" class="pullright centerText">
            <a href ng-if="auth.is('staff')" e-ng-options="obj.ratingID as obj.ratingID + ' - ' + obj.rating_desc for obj in initData.filters.ratings" editable-select="tree.ratingID">
                {{tree.ratingID}} - {{ tree.ratingID | ratingID2Name:this  || "(not specified)"}}
            </a>
            <span ng-if="!auth.is('staff')" e-ng-options="obj.ratingID as obj.ratingID + ' - ' + obj.rating_desc for obj in initData.filters.ratings">
                {{tree.ratingID}} - {{ tree.ratingID | ratingID2Name:this  || "(not specified)"}}
            </span>
        </div>
        <div ng-if="tree.mode!='edit'" class="pullleft centerText">&nbsp; {{tree.ratingID|ratingID2Name:this}}</div>
        <div class="clearfloat"></div>

        <div class="pullleft">Near powerline?</div>
        <div ng-if="tree.mode=='edit'" class="pullright centerText">
            <a href ng-if="auth.is('staff')" e-ng-options="obj for obj in ynOptions"  editable-radiolist="tree.powerline">{{tree.powerline || "(not specified)"}}</a>
            <span ng-if="!auth.is('staff')" e-ng-options="obj for obj in ynOptions">{{tree.powerline || "(not specified)"}}</span>
        </div>
        <div ng-if="tree.mode!='edit'" class="pullleft centerText">&nbsp; {{tree.powerline}}</div>
        <div class="clearfloat"></div>

        <div class="pullleft">Near building?</div>
        <div ng-if="tree.mode=='edit'" class="pullright centerText">
            <a href ng-if="auth.is('staff')" e-ng-options="obj for obj in ynOptions"  editable-radiolist="tree.building">{{tree.building || "(not specified)"}}</a>
            <span ng-if="!auth.is('staff')" e-ng-options="obj for obj in ynOptions">{{tree.building || "(not specified)"}}</a>
        </div>
        <div ng-if="tree.mode!='edit'" class="pullleft centerText">&nbsp; {{tree.building}}</div>
        <div class="clearfloat"></div>

        <div class="pullleft">Hardscape damage?</div>
        <div ng-if="tree.mode=='edit'" class="pullright centerText">
            <a href ng-if="auth.is('staff')" e-ng-options="obj for obj in ynpOptions"  editable-radiolist="tree.caDamage">{{tree.caDamage || "(not specified)"}}</a>
            <span ng-if="!auth.is('staff')" e-ng-options="obj for obj in ynpOptions">{{tree.caDamage || "(not specified)"}}</a>
        </div>
        <div ng-if="tree.mode!='edit'" class="pullleft centerText">&nbsp; {{tree.caDamage}}</div>
        <div class="clearfloat"></div>
        <BR>
        <h3>Notes <span ng-if="tree.mode=='edit'">(click to edit)</span></h3>
        <a href="#" editable-textarea="tree.notes" e-rows="3" e-cols="40">
            <pre>{{ tree.notes || '(no notes)' }}</pre>
        </a>
        <BR>

    <div class='table-responsive tableHist'>
        <table class='table table-striped'>
        <thead>
            <tr><th colspan=4>Recommendations/History</th>
            <td ng-if="auth.is('staff')" align='right'>
                <a href ng-click="addTreeRec()" class="fa fa-plus-square _size8"></a>
            </td></tr>
        <thead>
        <tr id="treeHistoryItem" ng-repeat="o in tree.history" ng-mouseover="showEdit=true" ng-mouseleave="showEdit=false">
            <td width='44%'><a href e-ng-options='t.treatmentTypeID as t.treatmentType for t in initData.filters.treatments'
                    editable-select='o.treatmentTypeID'>
                        {{o.treatmentTypeID|treatmentTypeID2Name:this}}</a>
            </td>
            <td width='34%'><a href e-ng-options='t.treatmentStatusCode as t.treatmentStatus for t in initData.treatmentStatuses'
                    editable-select='o.treatmentStatusCode'>
                        {{o.treatmentStatusCode|treatmentStatusName:this}}</a>
            </td>
            <td>
                <a href e-ng-options='y for y in yearOptions' editable-select='o.year'>
                    {{o.year}}
                </a>
            </td>
            <td>
                <span ng-show="o.price !== null && o.price" ng-bind="o.price | formatPrice"></span>
            </td>
            <td align='right'>
                <a ng:cloak ng-show="showEdit" href ng-click="removeTreeRec(o.treeHistoryID,o.$$hashKey)" class='fa fa-times _red _size4' ></a>
            </td>
            <td></td> <!-- todo: add a note icon, if there is a note, and rollover to show it -->
        </tr>

        </table>
    </div>

        <div ng-if="tree.mode!='rollover'" class=''>
            <button class='navButton' ng-click="save();">Save</button> &nbsp;<a href='#/trees'>Cancel</a>
        </div>

        <BR>
    </div> <!-- 50pct container -->


    <div class="clearfloat"></div>
</div>
<div class="clearfloat"></div>


<!--
powerline: "",
damage: "",
building: "",
caDamage: "",
originalImage: "Amador/IMG_0860",
imageSmall: "001-0001-000361-000123-036w.jpg",
imageMedium: "001-0001-000361-000122-375w.jpg",
imageLarge: "001-0001-000361-000121-480w.jpg",
latitude: "37.66055523",
longitude: "-122.0948727",
nonProp: "no",
hTreeID: null,
tstamp_lastSurveyed: "2010-05-07",
notes: "",
tstamp_created: null,
tstamp_updated: "2014-03-11 18:39:46",
deleted: null,
importBatchID: null,
batchOrderID: null
-->
