<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="modalTitle">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Property Contacts</h4>
            </div>
            <div class="modal-body"> <!-- //// BODY START ///// -->
                <form class="form-inline" ng-submit="emailEstimate()">
                    <table cellpadding='3'>
                        <thead>
                        <tr>
                            <th style="width: 125px">Select</th>
                            <th style="width: 125px">Name</th>
                            <th style="width: 125px">Contacts</th>
                            <th style="width: 125px">
                                <i class="fa fa-tree ng-scope" title="Total Tree Count" bs-tooltip=""></i>
                            </th>
                            <th style="width: 125px">$</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr style="width: 125px" ng-repeat="site in sitesInfo" ng-class="site.users.length==0?'alert-warning':''">
                                <td class="td-check">
                                    <input type="checkbox"  checklist-model="emailRpt.selectedSites" checklist-value="site" id="site-result-checkbox-{{site.siteID}}">
                                </td>
                                <td style="width: 250px">{{site.siteName}}</td>
                                <td style="width: 900px">
                                    <div class="btn-group">
                                        <span ng-repeat="user in site.users" class="btn btn-default hover-anchor"  bs-tooltip
                                               title="{{user.email}}">
                                            <span class="pull-right hover-action" >
                                                 <a ng-click="removeUser(user,site.users)"  href><i class="fa fa-times fa-fw"></i></a>
                                            </span>
                                            <!--
                                             If the ellipsis is added for the email & cross button functions correctly, then use this
                                             <span class="your_class">{{{user.fname+" "+user.lname}}</span>
                                             & remove those 2 lines (no ng-if is needed)
                                             <span ng-if="user.email.length<10">{{user.fname+" "+user.lname}}</span>
                                            <span ng-if="user.email.length>=10">{{(user.fname+" "+user.lname).slice(0,11)}}..</span>
                                            -->
                                            <span ng-if="user.fName">{{user.fName}} {{user.lName}}</span>
                                            <span ng-if="!user.fName">{{user.email.split("@")[0]}}</span>
                                        </span>
                                    </div>
                                    <a class="btn btn-info" title="Add contact" bs-tooltip="" site="site" refresh-site-users="updateSiteUser" site-users-edit-modal="">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <!--<a class="fa fa-user olive hand" title="Add contact" bs-tooltip="" site="site" site-users-edit-modal=""></a>-->
                                </td>
                                <td style="width: 75px">{{site.matchedTreesCount}}</td>
                                <td style="width: 100px">{{site.estimatePrice | currency}}</td>
                            </tr>
                            <tr style="width: 125px" >
                                <td>
                                </td>
                                <td style="width: 250px"></td>
                                <td style="width: 900px">
                                </td>
                                <td style="width: 75px">{{getTotalTreeCount(emailRpt.selectedSites)}}</td>
                                <td style="width: 100px">{{getTotalEstimatePrice(emailRpt.selectedSites)| currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>


            </div><!-- }}}} .modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="gotoNext($hide, $show)">Next</button>
            </div>
        </div>
    </div>
</div>

