<div ng-controller="ReportCtrl as ReportCtrl" class='ReportCtrl div_{{routeParams.stateID}} padding-top-none'>

    <!-- LOAD recent estimates list -->
    <div ng-if="data.mode()=='trees' && !auth.is('customer')" style="margin-bottom: 15px;">
        <recent-estimates model="rdata.recentReportID" recent-report-list="recentReportList" get-recent-report-title="getRecentReportTitle(report)"></recent-estimates>
        <br><br>
        <button ng-if="selected.siteID" class="btn btn-blue clr-white" ng-cloak ng-click="newReport();">New Estimate</button>
        <button ng-if="selected.siteID" class="btn btn-blue clr-white"
                data-backdrop='static'
                data-keyboard=true
                bs-modal
                data-template="js/trees/emailReport.tpl.html"
                ng-click="sendPortalLink()">
            Send Portal Login To Customer
        </button>
    </div>

    <div class="touch-boundry">
        <div ng-include="'js/trees/action.tpl.html'" ng-if="data.mode()=='estimate' && auth.is('customer')"></div>
    </div>

    <!--BEGIN ESTIMATE TABLE SECTION-->
    <div bindonce="report" class="table_estimate estimate-container report_main mode_{{data.mode()}}" ng-if="report.siteID">
        <!--Directive is not performing anything what is the point having simple HTML in directive-->
        <!--<estimate-summary report="report" mode="data.mode()"></estimate-summary>-->

        <!--Estimate Summary Starts-->
        <div class="estimate-summary">
            <div class="row row-estimate">
                <div class="col-md-6 col" style='min-height:100px;'>
                    <div class="estimate-info">

								<!-- INVOICE STUFF -->
								<h2 ng-if="report.reportType=='Invoice'" style='font-size:2.2em;'>
                         	Invoice ID: <span>0{{report.reportID}}</span>
								</h2>


								<!-- ESTIMATE STUFF -->
                        <dl class="small" ng-if="report.reportType=='Estimate'">
                            <dt>
                                Created: <span ng-bind="report.tstamp_updated"></span> &nbsp; &nbsp; &nbsp; &nbsp;
                                Estimate ID: <span ng-bind="report.reportID"></span>
                            </dt>
                        </dl>



                        <h1 class="title" ng-bind="report.reportType + ' for ' + report.siteName" style='margin:.5em 0 .5em 0'></h1>
                        <p class="name">
                            <span ng-if="data.mode() === 'trees'">
                               <!-- <a href editable-text='report.name' class='reportName'>{{report.name}}</a> &nbsp;-->
                                <a href editable-text-popup="report.name" class='reportName'>{{report.name}}</a> &nbsp;
                            </span>
                            <span ng-if="data.mode() !== 'trees'">
                                {{report.name}}
                            </span>
                        </p>
                        <dl ng-show="report.customers.length>0" class="client-contact">
                            <dt>Contact: </dt>
                            <dd>
                                <div style="margin-right: 5px"  ng-repeat="c in report.customers">
                                    <a href='mailto:{{c.email}}' target=_new>
                                        <span ng-hide="c.fName==undefined || c.fName==''" ng-bind="c.fName+' '+c.lName"></span>
                                        <span ng-show="c.fName==undefined || c.fName==''" ng-bind="c.email"></span>
                                    </a>
                                    <span ng-bind="c.phone|formatPhoneNumber"></span>
                                		<a ng-if="$index==0 && siteOfReport.siteID && auth.isAtleast('inventory')" site-users-edit-modal site="siteOfReport"  
											refresh-site-users="updateContact" bs-tooltip title='Click to edit the contacts.'
											><i style="cursor: pointer;" class="fa fa-pencil"></i></a>
                                    </br>
                                </div>
                            </dd>
                        </dl>

                        <dl ng-show="report.clientName!='Residential Clients' && report.clientName">
                            <dt>Client: </dt>
                            <dd ng-bind='report.clientName'></dd>
                        </dl>
                        <dl ng-show="report.siteName">
                            <dt>Property: </dt>
                            <dd ng-bind="report.siteName"></dd>
                        </dl>
                        <dl ng-show="report.street || report.city || report.state">
                            <dt>Address: </dt>
                            <dd ng-if="report.reportID!=undefined" ng-bind="report.street + ', ' + report.city + ',' + report.state + ' ' + report.zip">
                            </dd>
                            <a ng-if="report.reportID!=undefined && auth.isAtleast('inventory')" style="margin-left: 10px;" 
								href="" site-edit-modal site-id="report.siteID" bs-tooltip="" title="Click to edit address"
                               	on-save="reloadReport"><i class="fa fa-pencil"></i></a>

                        </dl>
                    </div>
                </div>

                <div class="col-md-2 col">
                    <div class="estimate-info">
                        <p class="name clr-orange">Sales Rep</p>
                        <dl>
                            <a ng-if="auth.isAtleast('inventory')" href e-ng-options="obj.id as obj.email for obj in salesUsers"
                               onshow="getSalesUsers()"
                               editable-select="report.sales_userID"
                               onaftersave="updateSalesRep(report)">
                               <span ng-hide="report.sales_fname==undefined || report.sales_fname==''" ng-bind="report.sales_fname+' '+report.sales_lname"></span>
                               <span ng-show="report.sales_fname==undefined || report.sales_fname==''"  ng-bind="report.sales_email"></span>
                            </a>
                        </dl>
                        <dl>
                            <dd><a href='mailto:{{report.sales_email}}' target=_new ng-bind='report.sales_email' style='color:#fff;'></a></dd>
                        </dl>
                        <dl ng-if="report.sales_phone">
                            <dd ng-bind='report.sales_phone|formatPhoneNumber'></dd>
                        </dl>
                    </div>
                </div>


                <div class="col-md-3 col pull-right">
                    <div class="bid-info">
                        <div class="logos" ng-if="data.isTcia">
                            <span class="logo"><img src="img/afil/tcia.png"></span>
                        </div>
                        <p class="bid">Total Bid: ${{(report.total.grand || 0)|formatPrice}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Estimate Summary Ends-->



			<div id='summary-charts' ng-if="report.charts" style='padding:2em 0 2em 0;'>
				<img src='{{report.charts.treatmentCategories}}'>
				<img src='{{report.charts.treatments}}'>
				<img src='{{report.charts.species}}'>
			</div>



        <!--Directive is not performing anything what is the point having simple HTML in directive-->
        <div class="estimate-actions" ng-if="data.mode()=='trees'">

            <button class="btn btn-red clr-white" ng-click="saveReport()">Save</button>

            <button class="btn btn-red clr-white"
						ng-if='report.status!="completed" && report.status!="invoiced" && report.status!="paid"'
                    data-backdrop='static'
                    data-keyboard=true
                    bs-modal
                    data-template="js/trees/emailReport.tpl.html"
                    ng-click="initEmailModal()">
                Send Estimate
            </button>

            <button class="btn btn-red clr-white"
						ng-if='report.status=="completed" || report.status=="invoiced" || report.status=="paid"'
                    data-backdrop='static'
                    data-keyboard=true
                    bs-modal
                    data-template="js/trees/emailReport.tpl.html"
                    ng-click="initEmailModal('invoice')">
                Send Invoice
            </button>

            &nbsp;
            <span ng-if="report.reportID">
                <a ng-if='report.reportLink && report.reportID' href='/go/estimate/pdf/{{report.token}}{{tree_cachebuster}}' 
				target='_cust_view'>PDF Version</a> &nbsp;|&nbsp;

                <a ng-if='report.reportLink && report.reportID && (report.status=="invoiced" || report.status=="paid")' href='/go/invoice/pdf/{{report.token}}{{tree_cachebuster}}' 
				target='_cust_view'>PDF Invoice</a> &nbsp;|&nbsp;

                <a ng-if='report.reportLink && report.reportID' href='{{report.reportLink}}' target='_cust_view'
                   onclick='return confirm("This will log you out. Continue?\n(Alternatively, you can copy and paste this into a completely different browser)");'>Customer View</a> &nbsp;|&nbsp;
            </span>
            <a ng-if='report.reportID && report.saveCount>1' href='/go/estimate/revisions/{{report.token}}{{tree_cachebuster}}' target=_new>Past Revisions</a>

            <div class="clearfix"></div>
        </div>

        <!-- Email logs -->
        <div ng-if="data.mode()=='trees'">
            <email-logs report="report"></email-logs>
        </div>
        

        <div class="table-container">
            <div class="row row-table">
                <div class="col-md-4" ng-if="data.mode()=='estimate' && groupedItems.length>0">
                    <div id="treeMap_estimate" class="map-container mode_{{data.mode()}}">
                        <div id="treeMap2" class="mode_{{data.mode()}}"></div>
                    </div>
                </div>
                <div class="col-md-8 col-info-{{data.mode()}}">
                    <report-estimates-table></report-estimates-table>                    

                    <report-misc-services-table></report-misc-services-table>

                    <div class="total-amount">
                        Total: &#36;{{(report.total.grand || 0)|formatPrice}}
                    </div>

                    <div class="section-container" ng-if="data.mode()=='trees' && auth.isAtleast('inventory')">
                        <h6 class="section-sub-title">Notes</h6>
                        <textarea ckeditor="editorOptions" ng-model="report.notes" placeholder="Notes" style='width:100%;height:100px;'></textarea>
                    </div>

                    <div class="section-container" ng-if="data.mode()!='trees' || !auth.isAtleast('inventory')">
                        <h6 ng-if="report.notes" class="section-sub-title" style='padding-bottom:1em;'>Notes</h6>
                        <span ng-bind-html="report.notes"></span><br><br>

                        <h6 ng-if="treatmentDescriptions.length" class="section-sub-title">Definition of Treatments</h6>
                        <div ng-repeat=" desc in treatmentDescriptions ">
                            <p><span style='font-weight:bold;'>{{desc.treatmentType}}</span> - {{desc.desc}}</p><br>
                        </div>
                    </div>
						

						  <div style='clear:both; margin:0.5em;'><BR></div>
						  <hr>
						  <div style='clear:both; margin:0.5em;'><BR></div>

							<div id='internal-note-container' style='min-height:50px;' ng-if="auth.isAtleast('inventory')">
            	     		<side-note report-id="{{report.reportID}}" note-type='report_internal'></side-note>
							</div>

							&nbsp;
                    <div class="logo-container" ng-if="affiliations.length">
								<span class='logo' ng-repeat="af in affiliations">
									<img src='img/afil/{{af}}'>
								</span>
                    </div>

						  <div style='clear:both; margin:0.5em;'><BR></div>
						<div ng-if="estimate_footer" ng-bind-html="estimate_footer" style='padding-top:2em;line-height:1.3em;'></div>
                </div>
            </div>
        </div>

    </div>

</div> <!-- }}} .report_main -->

<div style='margin:15px 0 60px 70px; font-size:130%; color:#555;' class="" ng-if="report.items.length<1">
    (No Trees Added to Estimate Yet)
</div>

<div class="clearfloat"></div>
