<main ng-controller="TreesCtrl">



	<!-- ///// TOP 3 DROP DOWNS  -->
<nav ng-if="data.mode=='trees' && auth.is('admin')">
  	<div class="styled-select">
   		<select id="select_clientType" class='styled-select' 
			ng-model="selected.clientTypeID" 
			ng-change="onSelectClientTypeID(selected.clientTypeID)"
			ng-disabled="initData.clientTypes.length === 0">
			<option value="">Client Type</option>
        	<option ng-repeat="clientType in initData.clientTypes" value="{{clientType.clientTypeID}}">{{clientType.name}}</option>
      	</select>
    </div>
    <div class='styled-select'>
     	<select  id="select_client" class='styled-select' ng-disabled="clients.length === 0"  
			ng-model="selected.clientID"
			ng-change="onSelectClientID(selected.clientID)" title="TEST">
        	<option value="">Client</option>
        	<option ng-repeat="client in filteredClients" value="{{client.clientID}}">{{client.clientName}}</option>
      	</select>
    </div>
    <div class='styled-select'>
      	<select  id="select_site" class='styled-select' ng-disabled="filteredSites.length === 0" 
			ng-model="selected.siteID"
			ng-change="onSelectSiteID(selected.siteID)">
        	<option value="">{{ filteredSites.length>0 | ifElse:'Property':'(No Properties)' }}</option>
        	<option ng-repeat="site in filteredSites" value="{{site.siteID}}">{{site.siteName}}</option>
      	</select>
    </div>
	<span>[<a href ng-click='reset()'>RESET</a>] &nbsp; 
		<span style='color:#667;'>siteID: {{selected.siteID}}</span> 
	</span>
</nav>




<div class="clearfloat"></div>
<section class="nav_listings" ng-if="data.mode=='trees'"> 
	<!--begin left hand column-->
  	<div>
     	<div class="nav_listings_header pullright centerText width192">Search Results: {{TFSdata.treeResultsCount}} Trees located </div>
     	<div class="clearfloat"></div>
    </div>
    <div class="clearfloat"></div>
    <div class="listings trees-result-list">
     	<div class ="listing_items" ng-repeat="tree in trees" id="tree-result-item-row-{{tree.treeID}}">
			<div ng-if="tree.hide != true" class='listingRow' ng-mouseover="onTreeResultMouseOver(tree)" ng-mouseleave="onTreeResultMouseLeave(tree)">
        		<!--<div class="listingHeader"></div>-->
				<label>
					<div class='pullright' style='padding:3px'>
						<a ng-show="tree.showEdit"  href='#/tree-edit/{{tree.treeID}}' class='fa fa-pencil _med _grey'></a>
					</div>
        			<div class="pullleft space5">
						<input type="checkbox" checklist-model="selectedTrees" checklist-value="tree.treeID"> 
					</div>
          			<div class="pullleft space5" 
							tooltip-html-unsafe="{{listingPopoverContent}}" popover-trigger="mouseenter">
							<img ng-src="{{tree.imgSm}}" data-treeID='{{tree.treeID}}' 
								ng-mouseover="onTreeImageRollover(tree.treeID);" ng-mouseleave="onTreeImageRollout(tree.treeID);"
								data-imgMed="{{tree.imgMed}}"
								width="32px" height="32px" 
								style="border:2px solid #{{colors.bg[tree.colorID]}}"
								/>
					</div>
          			<div class="pullleft space5" style='width:auto;'>
            			<h1>{{tree.commonName}}</h1><BR>
						{{tree.dbhID|dbhID2Name:this}} 
						<span class='recYear {{tree.history|showRecoYear:"css"}}' ng-bind-html="tree.history|showRecoYear"></span>
						(ID:{{tree.treeID}})
          			</div>
				</label>
          		<div class="clearfloat"></div>
			</div>
      	</div> <!-- }}} ng-repeat -->
	</div>

  	<!--BEGIN LISTING OPTIONS SECTION-->
   	<div class="pullleft centerText width192 topSpace10">
        Select:{{ alert(1) }}
		<a href ng-click="toggleCheckedTrees(true)">ALL</a> |
		<a href ng-click="toggleCheckedTrees('thisYear')">ALL {{thisYear}}</a> | 
		<a href ng-click="toggleCheckedTrees(false)">NONE</a>
	</div>

       
	<div class="pullleft topSpace10 width192 centerText">
    	<p>{{selectedTrees.length}} of {{trees.length}} trees selected</p>
    </div>

	<!-- ADD TO ESTIMATE button/selectors -->
	<div class="pullleft width192 topSpace5 space5">
			<button class="navButton width180 roundedCorners" ng-click="addToEstimate()">Add to Estimate</button>
		<div style='padding-top:1em; font-size:11pt;'>
		<label><input type=checkbox ng-model='data.showTreatmentList'> Show Treatments</label>
		</div>
	</div>
	<div class="pullleft width180 space5" ng-cloak ng-show="data.showTreatmentList">
		<select class="multiList" size="10" multiple ng-model="selected.treatmentCodes">
			<option ng-repeat="treatment in initData.filters.treatments" value="{{treatment.code}}">{{treatment.treatmentType}}</option>
		</select>
	</div> <!-- ng-cloak -->
</section>	<!-- }}} listing options and left hand column-->



<!-- begin center content area -->
<section class="mainContent mode_{{data.mode}}">
	<div id='treeDetails' ng:cloak ng-show="data.showTreeDetails && data.mode=='trees'" ng-include="'js/trees/edit.tpl.html'"></div>
	<div ng:cloak ng-show="data.showMap && data.mode=='trees'" id="treeMap" class="{{data.mode}}"></div>
</section>	<!-- }}} mainContent -->




<!--begin right hand column-->
<section class="filters space5" ng-if="data.mode=='trees'"> 
	<div ng:cloak ng-show="TFSdata.selectedFilters.length>0" style='background-color:#9AED95; padding:2px 4px;'>
		{{TFSdata.selectedFilters.length}} Filters Active &nbsp; [<a href ng-click='clearFilters();'>Clear</a>]
	</div>


    <!--FILTER SECTION: SPECIES-->
    <div class="filterHeader">
      	<h3>Species <span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.species>0">({{TFSdata.filterTypeCounts.species}})</span></h3>
    </div>
    <div>
      	<input ng-model='filterSearch.species' type="text" class="styled_input" placeholder="Search Species"/>
		<span ng-if="filterSearch.species.length>0">[<a href ng-click="filterSearch.species=''">CLEAR</a>]</span>
    </div>
    <div class="filterBlock">
     	<div class="filterItems" 
			ng-repeat="speciesType in initData.filters.species | filterByString:'commonName':filterSearch.species " 
			ng-if="speciesType.count!=0 || speciesType.count>0">
				<!-- NOTE: there are 2 ways in which a filter can be hidden...
						1. if the user is searching for one.. and it doesnt match (filterByString)
						2. if the tree results list doesnt include any of this particular species 
								(TreeFilterService will then modify the .hide property
				-->
				<label>
				<input type="checkbox" id="checkBox_filter_species_{{speciesType.speciesID}}" value="{{speciesType.speciesID}}"  
					ng-model="speciesType.selected"
					ng-change="onFilterChange('species', speciesType.speciesID, speciesType.selected)">
				{{speciesType.commonName}} <span class='filterCount' ng-if="speciesType.count>0">({{speciesType.count}})</span></label>
		</div> <!-- }}} .filterItems -->
    </div>
    <!-- END SPECIES FILTER SECTION --> 
    
    <!--FILTER SECTION: TREATMENT TYPE-->
    <div class="filterHeader">
      <h3>Treatments:
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.treatments>0">({{TFSdata.filterTypeCounts.treatments}})</span>
	  </h3>
    </div>
    <div>
      <input ng-model='filterSearch.treatments' type="text" class="styled_input" placeholder="Search Treatments" ng-escape="filterSearch.treatments=''"/>
	  <span ng-if="filterSearch.treatments.length>0">[<a href ng-click="filterSearch.treatments=''">CLEAR</a>]</span>
    </div>
    <div class="filterBlock">
	 <div class="filterItems" ng-repeat="t in initData.filters.treatments | filterByString:'treatmentType':filterSearch.treatments"
	        ng-if="t.count!=0 || t.count>0">
        <label>
		<input type="checkbox" id="checkBox_filter_treatment_{{t.treatmentTypeID}}" value="{{t.treatmentTypeID}}"  
			ng-model="t.selected"
			ng-change="onFilterChange('treatmentType', t.treatmentTypeID, t.selected)">
		{{t.treatmentType}} <span class='filterCount' ng-if="t.count>0">({{t.count}})</span></div></label>
    </div>
	<div class='filterItems'>
		<b style='font-size:1.3em;'>Year:</b> &nbsp; 
				<label><input type='checkbox' ng-model='initData.filters.year[0].selected' 
					ng-change="onFilterChange('year','{{initData.filters.year[0].id}}',initData.filters.year[0].selected)">
					This</label> &nbsp; 

				<label><input type='checkbox' ng-model='initData.filters.year[1].selected' 
					ng-change="onFilterChange('year','{{initData.filters.year[1].id}}',initData.filters.year[1].selected)">
					Next</label> &nbsp; 

				<label><input type='checkbox' ng-model='initData.filters.year[2].selected' 
					ng-change="onFilterChange('year','{{initData.filters.year[2].id}}',initData.filters.year[2].selected)">
					2</label> &nbsp; 

				<label><input type='checkbox' ng-model='initData.filters.year[3].selected' 
					ng-change="onFilterChange('year','{{initData.filters.year[3].id}}',initData.filters.year[3].selected)">
					3</label> &nbsp; 

				<label><input type='checkbox' ng-model='initData.filters.year[4].selected' 
					ng-change="onFilterChange('year','{{initData.filters.year[4].id}}',initData.filters.year[4].selected)">
					4</label>
	</div>	
    <!-- END TREATMENT TYPE FILTER SECTION --> 
 
    <!--FILTER SECTION: Building, Hardscape and Powerline -->
      <div class='filterItems' ng-if="TFSdata.filterTypeCounts.building>0 || TFSdata.filterTypeCounts.building!=0">
	  	<label><input type="checkbox"  value="yes"  
                                        ng-model="building.selected"
                                        ng-change="onFilterChange('miscProperty', 'building', building.selected)"> 
										<i class='fa fa-building _red _size5'></i> Building
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.building>0">({{TFSdata.filterTypeCounts.building}})</span>
		</label>
	</div>
      <div class='filterItems' ng-if="TFSdata.filterTypeCounts.caDamage>0 || TFSdata.filterTypeCounts.caDamage!=0">
	  	<label><input type="checkbox"  value="potential"  
                                        ng-model="caDamage.selected"
                                        ng-change="onFilterChange('miscProperty', 'caDamagePotential', caDamage.selected)"> 
										<i class='fa fa-warning _orange _size6'></i> Hardscape Damage Potential
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.caDamage>0">({{TFSdata.filterTypeCounts.caDamage}})</span>
		</label>
	</div>
      <div class='filterItems' ng-if="TFSdata.filterTypeCounts.caDamage>0 || TFSdata.filterTypeCounts.caDamage!=0">
	  	<label><input type="checkbox"  value="yes"  
                                        ng-model="caDamage.selected"
                                        ng-change="onFilterChange('miscProperty', 'caDamage', caDamage.selected)"> 
										<i class='fa fa-warning _red _size6'></i> Hardscape Damage
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.caDamage>0">({{TFSdata.filterTypeCounts.caDamage}})</span>
		</label>
	</div>
      <div class='filterItems' ng-if="TFSdata.filterTypeCounts.powerline>0 || TFSdata.filterTypeCounts.powerline!=0">
	  	<label><input type="checkbox"  value="yes"  
                                        ng-model="powerline.selected"
                                        ng-change="onFilterChange('miscProperty', 'powerline', powerline.selected)"> 
										<i class='fa fa-bolt _red _size7'></i> Powerline
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.powerline>0">({{TFSdata.filterTypeCounts.powerline}})</span>
		</label>
	</div>
  <!-- END Building, Hardscape, POWERLINE FILTER SECTION --> 

    <!--FILTER SECTION: SIZE-->
    <div class="filterHeader">
      <h3>Size
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.treatments>0">({{TFSdata.filterTypeCounts.treatments}})</span>
	</h3>
    </div>
    <div class="filterBlock">
      <span class="filterItems" ng-repeat="(idx,size) in initData.filters.dbh"
			ng-if="size.count!=0 || size.count>0">
				<label><input type="checkbox" id="checkBox_filter_size_{{size.dbhID}}" value="{{size.dbhID}}"  
					ng-model="size.selected"
					ng-change="onFilterChange('dbh', size.dbhID, size.selected)">
				{{size.diameter}} <span class='filterCount' ng-if="size.count>0">({{size.count}})</span></label> &nbsp;&nbsp;
				<div ng-if=" $index>0 && $index % 2 == 0" style='clear:both'></div>
	   </span> <!-- }}} ng-repeat -->
    </div>
    <!-- END SIZE FILTER SECTION --> 
    

    <!--FILTER SECTION: HEALTH-->   
    <div class="filterHeader">
      <h3>Health
		<span class='filterTypeCount' ng-if="TFSdata.filterTypeCounts.rating>0">({{TFSdata.filterTypeCounts.rating}})</span>
	  </h3>
    </div>
    <div class="filterBlock">
      <span class="filterItems" ng-repeat="r in initData.filters.ratings"
			ng-if="r.count!=0 || r.count>0">
			<label>	
			<input type="checkbox" id="checkBox_filter_rating_{{r.ratingID}}" value="{{r.ratingID}}"  
				ng-model="r.selected"
				ng-change="onFilterChange('rating', r.ratingID, r.selected)">
			{{r.ratingID}} - {{r.rating_desc}}
		    <span class='filterCount' ng-if="r.count>0">({{r.count}})</span></label> &nbsp; &nbsp;
		</span> <!-- }}} ng-repeat -->
    </div>
    <!-- END HEALTH FILTER SECTION -->
    

    <div class="clearfloat"></div>
  </section>
  <!--end right hand column-->
   <!--END FILTER SECTION-->
  <div class="clearfloat"></div>
 

	<!-- INCLUDE REPORTS SECTION -->
    <div class="clearfloat" style='clear:both;height:5px;'></div>
	<hr>
	<div ng-include="'js/trees/report.tpl.html'"></div>



</main>
