<main ng-controller="TreesCtrl as TreesCtrl">

<div ng-include="'js/trees/action.tpl.html'" ng-if="data.mode()=='trees' && auth.is('customer')"></div>

<div class="trees-container" ng-show="data.mode()=='trees'">
	<div class="trees-container-inner">
		<div class="row row-nopad">
			<div class="col-sm-3 col">
				<div class="filters-container">
					<left-column-filters-section></left-column-filters-section>
				</div>	
			</div>	
			<div class="col-sm-9 col">				
				<div class="row row-nopad">
					
					<div class="col-sm-8 col">
						<div class="content-container">

                            <div class="admin-filter-container" ng-if="data.mode()=='trees' && auth.isAtleast('inventory')">
                                <center-top-block></center-top-block>
                            </div>

							<!-- begin center content area -->
							<section class="map-container mainContent top-margin-none {{'mode_'+data.mode()}}" ng-class="'mode_' + data.mode()">
								<div id='treeDetails' ng-cloak ng-show="data.showTreeDetails && data.mode()=='trees'">
                                    <tree-edit></tree-edit>
								</div>

                                <map-search-panel></map-search-panel>

								<div ng-cloak ng-show="data.showMap && data.mode()=='trees'" id="treeMap" ng-class="data.mode()" class="map"></div>
							</section>	<!-- }}} mainContent -->
						</div>	
					</div>

					<div class="col-sm-4 col">
						<div class="result-container">
							<section class="nav_listings" ng-if="data.mode()=='trees'">
								<div class="table-responsive" ng-if="filteredSites.length > 0 && !trees.length && TFSdata.selectedFilters.length">
									<sites-list></sites-list>
								</div>

								<div class="table-responsive" ng-if="trees.length > 0">
                                    <div trees-selector ng-if="auth.isAtleast('inventory')" toggle-checked-trees="toggleCheckedTrees(opt)" selected-trees="selectedTrees" count="TFSdata.treeResultsCount"></div>

                                    <trees-list></trees-list>

                                    <div trees-selector ng-if="auth.isAtleast('inventory')" toggle-checked-trees="toggleCheckedTrees(opt)" selected-trees="selectedTrees" count="TFSdata.treeResultsCount"></div>

                                    <table class="tree-list-container" ng-if="auth.isAtleast('inventory') && trees.length">
										<tfoot>
											<tr>
												<td colspan="4">
													<button class="btn btn-block btn-red clr-white txt-bold" ng-click="addToEstimate()">Add to Estimate</button>
												</td>
											</tr>
                                            <tr>
                                                <td colspan="4">
                                                    <override-treatment codes="data.overrideTreatmentCodes" treatments="initData.filters.treatments"></override-treatment>
                                                </td>
                                            </tr>
										</tfoot>
									</table>
								</div>
							</section>
						</div>	
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<div ng-include="'js/trees/report.tpl.html'"></div>

</main>
