<main ng-controller="TreesCtrl as TreesCtrl">

<div ng-include="'js/trees/action.tpl.html'" ng-if="data.mode()=='trees' && auth.is('customer')"></div>

<div class="trees-container" ng-show="data.mode()=='trees'">
	<div class="trees-container-inner">
		<div class="row row-nopad">
			<div class="col-sm-3 col">
				<div class="filters-container">
					<left-column-filters-section></left-column-filters-section>
				</div>	
			</div>	
			<div class="col-sm-9 col">				
				<div class="row row-nopad">
					
					<div class="col-sm-8 col">
						<div class="content-container">

							<div class="admin-filter-container" ng-if="data.mode()=='trees' && auth.isAtleast('inventory')" >
								<nav>
									<div class="row">
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-4">
													<div class="input-group">
                                                        <client-type-dropdown model="selected.clientTypeID" on-change="onSelectClientTypeID()" data="initData.clientTypes"></client-type-dropdown>
													</div>
												</div>
												<div class="col-sm-4">
													<div class='input-group'>
													 	<select  id="select_client" class='inpt inpt-select' ng-disabled="clients.length === 0"  
															ng-model="selected.clientID"
															ng-change="onSelectClientID(selected.clientID)" title="TEST">
													    	<option class="option" value="">Client</option>
													    	<option bindonce class="option" ng-repeat="client in filteredClients" value="{{client.clientID}}" bo-bind="client.clientName"></option>
													  	</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class='input-group'>
													  	<select  id="select_site" class='inpt inpt-select' ng-disabled="filteredSites.length === 0" 
															ng-model="selected.siteID"
															ng-change="onSelectSiteID(selected.siteID)">
													    	<option class="option" value="">{{ filteredSites.length>0 | ifElse:'Property':'(No Properties)' }}</option>
													    	<option bindonce class="option" ng-repeat="site in filteredSites" value="{{site.siteID}}" bo-bind="site.siteName"></option>
													  	</select>
													</div>
												</div>	
											</div>	
										</div>
										<div class="col-sm-2" ng-if="auth.isAtleast('inventory')" style='margin-left:0; padding-left:0;'>
											<span ng-if="selected.siteID>0" style='color:#667; font-size:.85em;'>#{{selected.siteID}}</span> 
											</span>
											<span class="lnk" ng-if="selected.siteID>0">
													<i site-edit-modal clients="initData.clients" site-id="selected.siteID" 
														class="fa fa-pencil _grey _size8 hoverHighlight hand"></i>
											</span>
											<span class="lnk">
												<a href ng-click='reset()' bs-tooltip title='Reset'><i class="fa fa-rotate-left _red _size6 hoverHighlight"></i></a> 
											</span>
										</div>
									</div>
									
								</nav>
							</div>

							<!-- begin center content area -->
							<section class="map-container mainContent top-margin-none {{'mode_'+data.mode()}}" ng-class="{{'mode_'+data.mode()}}">
								<div id='treeDetails' ng:cloak ng-show="data.showTreeDetails && data.mode()=='trees'" ng-include="'js/trees/edit.tpl.html'"></div>
                                <div id="searchPanel" class="mtop3" style="display:none;">
                                    <a id="zoomToMappedTrees" class="fa fa-tree _red _size7 search-panel-button mright3"
                                       ng-click="zoomToMappedTrees()"></a>
                                    <input id="googleSearchbox" class="controls" type="text" placeholder="Search Box"
                                           ng-model="googleMapSearchBoxValue">
                                    <a id="searchButtonForSearchBox" class="fa fa-map-marker _red _size7 search-panel-button mleft3"
                                       ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
                                       ng-click="zoomToSearchMarker()"></a>
                                    <a id="clearButtonForSearchBox" class="fa fa-times _red _size7 search-panel-button mleft3"
                                          ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
                                            ng-click="cleanSearchMarkers();"></a>
                                </div>
								<div ng:cloak ng-show="data.showMap && data.mode()=='trees'" id="treeMap" ng-class="{{data.mode()}}" class="map"></div>
							</section>	<!-- }}} mainContent -->
						</div>	
					</div>

					<div class="col-sm-4 col">
						<div class="result-container">
							<section class="nav_listings" ng-if="data.mode()=='trees'"> 

								<div class="table-responsive">
									<table class="tree-list-container" ng-if="auth.isAtleast('inventory')">
										<thead>
											<tr>
												<td>
													<div class="btn-group">
														<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
															<i class="fa fa-check-square-o"></i>
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li><a href ng-click="toggleCheckedTrees(true)">ALL</a></li>
															<li><a href ng-click="toggleCheckedTrees('thisYear')">ALL {{thisYear}}</a></li>
															<li><a href ng-click="toggleCheckedTrees(false)">NONE</a></li>
														</ul>
													</div>
												</td>
												<td colspan="3"><h6>{{selectedTrees.length}} of {{TFSdata.treeResultsCount}} trees selected </h6></td>
											</tr>
										</thead>
									</table>
									<div class="tree-list-outer" id="tree-list-container">
										<table class="tree-list-container">
											<tbody>
												<tr bindonce ng-repeat="tree in trees" ng-if="tree.hide != true" id="tree-result-item-row-{{tree.treeID}}" 
														ng-mouseover="onTreeResultMouseOver(tree)" ng-mouseleave="onTreeResultMouseLeave(tree)">
													<td class="td-check">													
														<input type="checkbox" checklist-model="selectedTrees" checklist-value="tree.treeID" 
															id="tree-result-checkbox-{{tree.treeID}}">
													</td>
													<td class="td-img">
                                                        <label for="tree-result-checkbox-{{tree.treeID}}">
                                                            <div tooltip-html-unsafe="{{listingPopoverContent}}" popover-trigger="mouseenter">
                                                                <img bo-src="tree.imgSm" data-treeID='{{tree.treeID}}'
                                                                     ng-click="onTreeImageRollover(tree.treeID);" ng-mouseover="onTreeImageRollover(tree.treeID);" ng-mouseleave="onTreeImageRollout(tree.treeID);"
                                                                     data-imgMed="{{tree.imgMed}}"
                                                                     style="border:2px solid #{{colors.bg[tree.colorID]}}"/>
                                                            </div>
                                                        </label>
													</td>
													<td>
                                                        <label for="tree-result-checkbox-{{tree.treeID}}">
                                                            <h6>{{tree.commonName}}</h6>
                                                            <p>{{tree.dbhID|dbhID2Name:this}}</p>
                                                            <small><span class='recYear {{tree.history|showRecoYear:"css"}}' ng-bind-html="tree.history|showRecoYear"></span>
                                                                <span bo-text="'(ID:' + tree.treeID + ')'"></span></small>
                                                        </label>
													</td>
													<td class="td-action" style="padding: 0px;">
                                                        <label for="tree-result-checkbox-{{tree.treeID}}">
                                                            <a href='#/tree_edit/{{tree.treeID}}' bs-tooltip title="View/Edit Details" style="padding: 5px;"><i class="fa fa-pencil"></i></a>
                                                        </label>
													</td>
												</tr>
											</tbody>
											
										</table>
									</div>	
									<table class="tree-list-container" ng-if="auth.isAtleast('inventory') && trees.length">
										<thead>
											<tr>
												<td>
													<div class="btn-group">
														<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
															<i class="fa fa-check-square-o"></i>
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu" role="menu">
															<li><a href ng-click="toggleCheckedTrees(true)">ALL</a></li>
															<li><a href ng-click="toggleCheckedTrees('thisYear')">ALL {{thisYear}}</a></li>
															<li><a href ng-click="toggleCheckedTrees(false)">NONE</a></li>
														</ul>
													</div>
												</td>
												<td colspan="3"><h6>{{selectedTrees.length}} of {{TFSdata.treeResultsCount}} trees selected</h6></td>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<td colspan="4">
													<button class="btn btn-block btn-red clr-white txt-bold" ng-click="addToEstimate()">Add to Estimate</button>
												</td>
											</tr>
                                            <tr>
                                                <td colspan="4">
													<button class="btn btn-default" ng-model="data.overrideTreatmentCodes" multiple max-length=0 all-none-buttons=1
															ng-options="t.code as t.treatmentType for t in initData.filters.treatments" 
															bs-select placeholder="Override Recommended Treatment" onclick="return false;">
														Treatments <span class="caret"></span>
													</button>
													<a ng-if="data.overrideTreatmentCodes.length" class='fa fa-times _red _size8 hand' style='padding-left:.2em;'
															ng-click='data.overrideTreatmentCodes=[]'></a>
                                                </td>
                                            </tr>
										</tfoot>
									</table>
								</div>	
								
								<!--
							  	<div>
							     	<div class="nav_listings_header pullright centerText width192">Search Results: {{TFSdata.treeResultsCount}} Trees located </div>
							     	<div class="clearfloat"></div>
							    </div>
								-->
							  	<!--BEGIN LISTING OPTIONS SECTION-->
							  	<!--
							   	<div class="pullleft centerText width192 topSpace10">
							        Select:{{ alert(1) }}
									
								</div>
								-->
							    
							    <!--  	 
								<div class="pullleft topSpace10 width192 centerText">
							    	<p>{{selectedTrees.length}} of {{trees.length}} trees selected</p>
							    </div>
								--> 
								<!-- ADD TO ESTIMATE button/selectors -->
								<!--
								<div class="pullleft width192 topSpace5 space5">
										<button class="navButton width180 roundedCorners" ng-click="addToEstimate()">Add to Estimate</button>
									<div style='padding-top:1em; font-size:11pt;'>
									<label><input type=checkbox ng-model='data.showTreatmentList'> Show Treatments</label>
									</div>
								</div>
								<div class="pullleft width180 space5" ng-cloak ng-show="data.showTreatmentList">
									<select class="multiList" size="10" multiple ng-model="selected.treatmentCodes">
										<option ng-repeat="treatment in initData.filters.treatments" value="{{treatment.code}}">{{treatment.treatmentType}}</option>
									</select>
								</div> <!-- ng-cloak -->
								
							</section>	<!-- }}} listing options and left hand column-->
						</div>	
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<div ng-include="'js/trees/report.tpl.html'"></div>

</main>
