<style>
    .table > tbody > tr.disabled {
        background-color: #E6E6E6;
    }

    @media (max-width: 767px) {
        .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
            white-space: normal;
        }
    }

    @media (max-width: 767px) {
        input[type="checkbox"] {
            transform: scale(2);
            -webkit-transform: scale(2);
        }

        .week-nav {
            margin-left:0px !important;
        }

        .week-nav-label {
            display: none;
        }
    }

</style>

<div class='container' ng-controller="TimeclockController as timeclock">
    <div class="table-header">
        <h1 style="display: inline-block;">Time Logs</h1>
        <h2 class="week-nav" style="display: inline-block;margin-left:50px">
            <i class="glyphicon glyphicon-chevron-left" ng-click="timeclock.decrementWeekNumber()" style="cursor: pointer"></i>
            {{ timeclock.startOfWeekFormated }} - {{ timeclock.endOfWeekFormated }}
            <i class="glyphicon glyphicon-chevron-right" ng-click="timeclock.incrementWeekNumber()" ng-show="timeclock.currentWeek > timeclock.week" style="cursor: pointer"></i>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class='table-responsive' ng-repeat="entry in timeclock.users track by $index" >


        <table class="table table-bordered rwd-table">
            <thead>
            <tr style="background: #000; color: #fff;border: 1px solid #000;">
                <th class="clickable-header" style="border: 1px solid #000; font-weight: bold; font-size: 20px;" colspan="2">
                    {{entry.date_string}}
                </th>
                <th class="clickable-header" style="border: 1px solid #000" ng-if="entry.users.length > 0">
                    Hours
                </th>
            </tr>
            </thead>
            <tbody ng-if="entry.users.length > 0">
            <tr ng-repeat-start="user in entry.users" ng-class="user.disabled ? 'disabled' : ''">
                <td colspan="3" ng-if="$index == 0" class="danger">
                    Clocked in by {{user.clockinby_userName}}
                </td>
                <td colspan="3" ng-if="entry.users[$index-1] != undefined && entry.users[$index-1].clockinby_userID != user.clockinby_userID" class="danger">
                    Clocked in by {{user.clockinby_userName}}
                </td>
            </tr>
            <tr ng-repeat-end ng-class="user.disabled ? 'disabled' : ''">
                <td style="width: 50px;">
                    <input ng-change="timeclock.selectUser(user, entry)" type="checkbox" ng-model="user.selected" ng-disabled="user.disabled">
                </td>
                <td ng-class="(timeclock.currentUserID == user.userID || timeclock.currentUserID == user.clockinby_userID) ? 'warning' : ''">
                    <a ng-click="timeclock.openUser(user, entry)" style="cursor: pointer;">
                        <span style="font-weight: bold">{{ user.full_name }}</span>

                        <span class="hidden-xs" ng-repeat="schedule in user.workSchedule">
                            <span style="color: #000;" ng-if="!$last">
                                {{ timeclock.formatScheduleTime(schedule.time) }}-{{ timeclock.formatScheduleTime(schedule.time_end) }}
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                                ,
                            </span>
                            <span style="color: #000;"  ng-if="$last && !schedule.inProgress">
                                {{ timeclock.formatScheduleTime(schedule.time) }}-{{ timeclock.formatScheduleTime(schedule.time_end) }}
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                            </span>
                            <span style="color: #000;"  ng-if="$last && schedule.inProgress">
                                {{ timeclock.formatScheduleTime(schedule.time) }}-...
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                            </span>
                        </span>

                        <span class="visible-xs" ng-repeat="schedule in user.workSchedule">
                            <span style="color: #000;" ng-if="$first">
                                {{ timeclock.formatScheduleTime(schedule.time) }}
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                                -
                            </span>

                            <span style="color: #000;"  ng-if="$last && !schedule.inProgress">
                                {{ timeclock.formatScheduleTime(schedule.time_end) }}
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                            </span>
                            <span style="color: #000;"  ng-if="$last && schedule.inProgress">
                                ...
                                <span style="color: #ADADAD;;">
                                    (#{{ schedule.reportID }})
                                </span>
                            </span>
                        </span>
                    </a>
                </td>
                <td style="width: 80px;">
                    <span class="label label-success" ng-if="user.status=='clockin' && entry.date == timeclock.currentDay">Clocked In</span>
                    <span ng-if="user.status!='clockin' || entry.date != timeclock.currentDay">{{user.duration}}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info" role="alert" ng-if="entry.users.length == 0">
            No data.
        </div>
    </div>
    <div style="padding-bottom: 100px"></div>
    <div class="action-float-bar" ng-show="timeclock.haveSelectedUsers">
        <div class="container">
            <div class="action-float-bar-inner">
                <input style="" ng-click="timeclock.selectAllSimilar()" ng-model="timeclock.selectAllSimilarValue" type="checkbox" ng-if="timeclock.haveSimilarSchedule>1">
                <i class="fa fa-mail-forward fa-rotate-270 white"></i> &nbsp;
                <button type='button' class="btn btn-default" ng-click="timeclock.editTimeclockForUsers()">
                    Edit
                </button>
                <button type='button' class="btn btn-default" ng-if="timeclock.isSelectedUsersClockin()" ng-click="timeclock.clockoutUsers()">
                    Clock Out
                </button>
            </div>
        </div>
    </div>

    </div>
</div>
