<div class='container' ng-controller="TimeclockController as timeclock">
    <div class="table-header">
        <h1>Timeclock</h1>
        <h2>
            <i class="glyphicon glyphicon-chevron-left" ng-click="timeclock.decrementWeekNumber()"></i>
            {{ timeclock.startOfWeekFormated }} - {{ timeclock.endOfWeekFormated }}
            <i class="glyphicon glyphicon-chevron-right" ng-click="timeclock.incrementWeekNumber()" ng-show="timeclock.currentWeek > timeclock.week"></i>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class='table-responsive' ng-repeat="entry in timeclock.users track by $index" >


        <h2 style="font-size: 30px; font-weight: bold;">{{entry.date_string}}</h2>
        <table class="table table-bordered" ng-if="entry.users.length > 0">
            <thead>
            <tr>
                <th>
                </th>
                <th class="clickable-header">
                    Name
                </th>
                <th class="clickable-header">
                    Report
                </th>
                <th class="clickable-header">
                    Hours
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in entry.users">
                <td>
                    <input ng-change="timeclock.selectUser(user, entry)" type="checkbox" ng-model="user.selected" ng-disabled="user.disabled">
                </td>
                <td>
                    <a ng-click="timeclock.openUser(user, entry)">{{ user.full_name }}</a>
                </td>
                <!--<td ng-switch on="user.status">-->
                    <!--<span class="label label-success" ng-switch-when="clockin">Clocked In</span>-->
                    <!--<span class="label label-default" ng-switch-when="clockout">Clocked Out</span>-->
                    <!--<span class="label label-warning" ng-switch-when="onbreak">On Break</span>-->
                <!--</td>-->
                <td>
                    {{user.report.name}}
                </td>
                <td>
                    {{user.duration_today}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info" role="alert" ng-if="entry.users.length == 0">
            No data.
        </div>
    </div>
    <div style="padding-bottom: 100px"></div>
    <div class="action-float-bar" ng-show="timeclock.haveSelectedUsers">
        <div class="container">
            <div class="action-float-bar-inner">
                <i class="fa fa-mail-forward fa-rotate-270 white"></i> &nbsp;
                <a class="btn btn-default" ng-click="timeclock.editTimeclockForUsers()">
                    Edit
                </a>
            </a>
            </div>
        </div>
    </div>

    </div>
</div>
