    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60042187-2', {
        'cookieDomain': 'none'
      });
    </script>
    <!-- End Google Analytics -->
<div class="header-inner">
	<div class="cnt-logo"><img src="img/entity/logo-{{entityID}}.png"></div>
	<div class="nav-container">
		<div ng-if="!auth.is('customer') && auth.isSignedIn()">
			<div ng-include="'js/main/nav.staff.tpl.html'"></div>
		</div>
	</div>
	<div class='header-nav cnt-actions'>
		<div ng-if="auth.isSignedIn()">
			<span>
				<b>{{auth.getLoginName()}}</b> 
				<a ng-if="auth.isAtleast('inventory')" href='/go/dash?token={{auth.data().token}}' target='_new' bs-tooltip title='Dashboard'>
					<span class="fa-stack">
					  	<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
					</span></a>
				<a href ng-click="auth.signOut()" bs-tooltip title='Sign Out'>
					<span class="fa-stack">
					  	<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
					</span></a>
			</span>
		</div>
	</div>	
	<div class="clearfix"></div>
</div>
