<div class="header-inner">
	<div class="dropdown-toggle-container">
	    <button id="btn_toggle_navbar" class="btn">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	</div>
	<div class="cnt-logo">
		<div class="cnt-logo-wrapper">
			<img src="img/entity/logo-{{entityID}}.png">
		</div>
	</div>
	<div class="nav-container clearfix" id="main_navbar">
		<div ng-if="!auth.is('customer') && auth.isSignedIn()">
			<div ng-include="'js/main/nav.staff.tpl.html'"></div>
		</div>
	</div>
	<div class='header-nav cnt-actions'>
		<div ng-if="auth.isSignedIn()">
			<span>
				<b>{{auth.getLoginName()}}</b> 
				<a ng-if="auth.isAtleast('inventory')" href='/go/dash?token={{auth.data().token}}' target='_new' bs-tooltip title='Dashboard'>
					<span class="fa-stack">
					  	<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
					</span></a>
				<a href ng-click="auth.signOut()" bs-tooltip title='Sign Out'>
					<span class="fa-stack">
					  	<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
					</span></a>
			</span>
		</div>
	</div>	
	<div class="clearfix"></div>
</div>

<script>
	$(document).ready(function()
	{
		main_navbar_handler();
	});

	$(window).resize(function()
	{
		main_navbar_handler();
	});

	function main_navbar_handler()
	{
		if ($(window).width() <= 767)
		{
			$('#main_navbar').hide();
		}
		else
		{
			$('#main_navbar').show();
		}

		$('#btn_toggle_navbar').bind('click', function() {
			$('#main_navbar').slideToggle('fast');
		});
	}
</script>