<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div>
                <form class="form-inline">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Edit users for {{site.siteName}}</h3>
                        </div>
                        <div class='panel-body'>
                            <div class="containter">

                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8" style="font-weight: bold;">
                                        Site contacts
                                    </div>
                                </div>
                                <div class="row" ng-repeat="c in contacts" style="margin-top: 10px;" ng-show="contacts.length > 0">
                                    <div class="col-sm-8">
                                        {{c.email}}
                                    </div>
                                    <div class="col-sm-3 col-offset-1">
                                        <a ng-click="unassign(c.userID, c.email, 'customer')" class="fa fa-times _red _size4" bs-tooltip title="Remove assignment" style="text-decoration: none;"></a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
									<form ng-submit="addNewSiteContact($event)">
                                    <div class="col-sm-4">
                                        <input type="text" required placeholder="Email" style="width: 100%;" ng-model="newContact.email" id='newContactEmail'
												user-auto-complete="contactSelect" user-roles="customer" user-ignore="contacts" bs-typeahead>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="First name" required style="width: 100%;" ng-model="newContact.fName">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="Last name" required style="width: 100%;" ng-model="newContact.lName">
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addNewSiteContact($event)">Add</button>
                                    </div>
									</form>
                                </div>

								<hr> <!-- ================================================================== -->

                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8" style="font-weight: bold;">
                                        AplusTree Reps
                                    </div>
                                </div>
                                <div class="row" ng-repeat="r in reps" style="margin-top: 10px;" ng-show="reps.length > 0">
                                    <div class="col-sm-8">
                                        {{r.email}} - {{r.role}}
                                    </div>
                                    <div class="col-sm-3 col-offset-1">
                                        <a ng-click="unassign(r.userID, r.email, 'staff')" class="fa fa-times _red _size4 hand" bs-tooltip 
												title="Remove assignment" style="text-decoration: none; "></a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
									<form ng-submit="addNewRepContact($event)">
                                    <div class="col-sm-3">
                                        <input type="text" required placeholder="Email" style="width: 100%;" ng-model="newRep.email" id='newRepEmail'
												user-auto-complete="repSelect" user-roles="sales,inventory,admin" user-ignore="reps" bs-typeahead>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="First name" required style="width: 100%;" ng-model="newRep.fName">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="Last name" required style="width: 100%;" ng-model="newRep.lName">
                                    </div>
                                    <div class="col-sm-3">
                                        <select ng-model="newRep.role" required>
                                            <option disabled value="">Role</option>
                                            <option value="sales">Sales</option>
                                            <option value="inventory">Inventory</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addNewSiteRep($event);">Add</button>
                                    </div>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <button type="button" class="btn btn-default" ng-click="$parent.closeModal();">CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
