<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div>
                <form class="form-inline">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Edit users for {{site.siteName}}</h3>
                        </div>
                        <div class='panel-body'>
                            <div class="containter">

                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8" style="font-weight: bold;">
                                        Property contacts for {{site.siteName}}
                                    </div>
                                </div>
                                <div class="row hoverHotspot" ng-repeat="c in contacts" 
										style="margin: 9px 24px 3px 1px; padding:8px 2px 8px 8px; background:#eee;" 
										ng-show="contacts.length > 0">
                                	<a ng-click="unassign(c.userID, c.email, 'customer')" class="hand hoverDisplay" bs-tooltip 
											title="Remove assignment" style="text-decoration: none; ">
                                		<i class="fa fa-times _red _size5"></i></a> &nbsp; 
                                        {{c.email}} - {{c.fName}} {{c.lName}}
                                </div>

                                <div class="row" style="margin-top: 10px;">
									<form ng-submit="addNewSiteContact($event)">
                                    <div class="col-sm-4">
                                        <input type="text" required placeholder="Email" style="width: 100%;" ng-model="newContact.email" id='newContactEmail'
												user-auto-complete="contactSelect" user-roles="customer" user-ignore="contacts" bs-typeahead>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="First name" required style="width: 100%;" ng-model="newContact.fName">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="Last name" required style="width: 100%;" ng-model="newContact.lName">
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addNewSiteContact($event);" type='button' class='btn btn-primary'>Add</button>
                                    </div>
									</form>
                                </div>

								<hr> <!-- ================================================================== -->

                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8" style="font-weight: bold;">
                                        AplusTree Reps
                                    </div>
                                </div>

                                <div class="row hoverHotspot" ng-repeat="r in reps" 
										style="margin: 9px 24px 3px 1px; padding:8px 2px 8px 8px; background:#eee;" 
										ng-show="reps.length > 0">
                                	<a ng-click="unassign(r.userID, r.email, 'staff')" class="hand hoverDisplay" bs-tooltip 
											title="Remove assignment" style="text-decoration: none; ">
                                		<i class="fa fa-times _red _size5"></i></a> &nbsp; 
                                        {{r.email}} - {{r.fName}} {{r.lName}}  &nbsp; &nbsp; 
											<span style='color:#fff;background:#333; padding:4px 8px; text-transform:uppercase; font-size:.7em'>{{r.role}}</span>
                                </div>
                                <div class="row" style="margin-top: 10px;">
									<form ng-submit="addNewRepContact($event)">
                                    <div class="col-sm-3">
                                        <input type="text" required placeholder="Email" style="width: 100%;" ng-model="newRep.email" id='newRepEmail'
												user-auto-complete="repSelect" user-roles="sales,inventory,admin" user-ignore="reps" bs-typeahead>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="First name" required style="width: 100%;" ng-model="newRep.fName">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="Last name" required style="width: 100%;" ng-model="newRep.lName">
                                    </div>
                                    <div class="col-sm-3">
                                        <select ng-model="newRep.role" required>
                                            <option disabled value="">Role</option>
                                            <option value="sales">Sales</option>
                                            <option value="inventory">Inventory</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addNewSiteRep($event);" type='button' class='btn btn-primary'>Add</button>
                                    </div>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <button type="button" class="btn btn-default" ng-click="$parent.closeModal();">CLOSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
