<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class='panel panel-default bottomMargin0'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Unsaved Report!</h3>
                    </div>
                    <div class='panel-body'>
                        <span>You need to save before editing.</span>
                    </div>
                </div>
                <div class="modal-footer topMargin0">
                        <span>
                            <input type="submit" value="CANCEL" class='btn btn-primary' ng-click="$hide();">
                            <input type="submit" value="SAVE" class='btn btn-danger' ng-click="saveReport(); $hide();openModal()">
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
