<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class='panel panel-default bottomMargin0'>
                    <div class='panel-heading'>
                        <h3 class='panel-title'>Confirm navigation</h3>
                    </div>
                    <div class='panel-body'>
                        <span>You have UNSAVED data in your estimate!</span>
                    </div>
                </div>
                <div class="modal-footer topMargin0">
                        <span>
                            <input type="submit" value="CANCEL" class='btn btn-primary' ng-click="stayOnCurrentPage(); $hide();">
                            <input type="submit" value="Continue And Lose Changes" class='btn btn-danger' ng-click="leaveCurrentPage(); $hide();">
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
