<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div>
                <form class="form-inline" ng-submit="saveSite()">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Edit Property</h3>
                        </div>
                        <div class='panel-body'>
                            <select class='styled-select' ng-model="site.clientID">
                                <option value="">Client</option>
                                <option ng-repeat="client in clients" value="{{client.clientID}}">
                                    {{client.clientName}}
                                </option>
                            </select>
                            (choose a client this property belongs to)<br>
                            <input type="text" placeholder="Property Name" ng-model="site.siteName" required size="40" auto-focus><br>
                            <input type="text" placeholder="Address" ng-model="site.street" size="40"><br>
                            <input type="text" placeholder="City" ng-model="site.city" size="40"><br>
                            <input type="text" placeholder="State" ng-model="site.state" size="40"><br>
                            <input type="text" placeholder="Zip" ng-model="site.zip" size="40"><br>

                            <div class="containter" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-sm-8">
                                        Site contacts
                                    </div>
                                    <div class="col-sm-3 col-offset-1">
                                        <a ng-click="showAddNewSiteContact = true" href>
                                            [ADD NEW]
                                        </a>
                                    </div>
                                </div>

                                <div class="row" ng-repeat="c in contacts" style="margin-top: 10px;" ng-show="contacts.length > 0">
                                    <div class="col-sm-8">
                                        {{c.email}}
                                    </div>
                                    <div class="col-sm-3 col-offset-1">
                                        <a ng-click="unassign(c.userID, c.email)" class="fa fa-times _red _size4" bs-tooltip title="Remove assignment" style="text-decoration: none;"></a>
                                    </div>
                                </div>

                                <div class="row" ng-show="showAddNewSiteContact === true" style="margin-top: 10px;">
                                    <div class="col-sm-4">
                                        <input type="text" required placeholder="Email" style="width: 100%;" ng-model="newContact.email" user-auto-complete="userSelect" user-roles="customer" user-ignore="contacts" bs-typeahead>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="First name" required style="width: 100%;" ng-model="newContact.fName">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" placeholder="Last name" required style="width: 100%;" ng-model="newContact.lName">
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addNewSiteContact($event)">ADD</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <input ng-if="site.id" type="submit" value="UPDATE" class='btn btn-primary'>
                        <input ng-if="!site.id" type="submit" value="SAVE" class='btn btn-primary'>
                        <button type="button" class="btn btn-default" ng-click="$hide()">CLOSE</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
