<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div>
                <form class="form-inline" ng-submit="saveSite()">
                    <div class='panel panel-default bottomMargin0'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'>Edit Property</h3>
                        </div>
                        <div class='panel-body'>
                            <select class='styled-select' ng-model="site.clientID">
                                <option value="">Client</option>
                                <option ng-repeat="client in clients" value="{{client.clientID}}">
                                    {{client.clientName}}
                                </option>
                            </select>
                            (choose a client this property belongs to)<br>
                            <input type="text" placeholder="Property Name" ng-model="site.siteName" required size="40" auto-focus><br>
                            <input type="text" placeholder="Address" ng-model="site.street" size="40"><br>
                            <input type="text" placeholder="City" ng-model="site.city" size="40"><br>
                            <input type="text" placeholder="State" ng-model="site.state" size="40"><br>
                            <input type="text" placeholder="Zip" ng-model="site.zip" size="40"><br>
                            <input type="text" placeholder="Contact Name" ng-model="site.contact" size="40"><br>
                            <input type="text" placeholder="Phone" ng-model="site.contactPhone" size="40"><br>
                            <input type="text" placeholder="Email" ng-model="site.contactEmail" size="40"><br>
                            <input type="text" placeholder="Regional Manager" ng-model="site.regionalMgr" size="40"><br>
                            <input type="text" placeholder="Regional Email" ng-model="site.regionalEmail" size="40"><br>
                        </div>
                    </div>
                    <div class="modal-footer topMargin0">
                        <input ng-if="site.id" type="submit" value="UPDATE" class='btn btn-primary'>
                        <input ng-if="!site.id" type="submit" value="SAVE" class='btn btn-primary'>
                        <button type="button" class="btn btn-default" ng-click="$hide()">CLOSE</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
