<div class='container' ng-controller="SitesCtrl">

	<button type="button"
		ng:cloak
		data-placement="center"
		ng-click="newSiteModalOpen()"
		class="btn btn-lg btn-primary pull-right topMargin5 bottomMargin5"
        style="max-width: 100%; width: auto;"
		data-animation="am-fade-and-scale" >New Property</button>

	<div class='table-responsive'>
		<h1>Properties</h1>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>City</th>
					<th>Trees</th>
					<th>Estimates</th>
					<th ng-if="auth.is('admin')"></th>
				</tr>
			</thead>
            <tbody infinite-scroll="showMoreSites()" infinite-scroll-distance="3">
                <tr ng-repeat="s in displayedSites" ng-class="{active : isSelected(s.siteID)}" class='hoverHotspot'>
                    <td ng-bind="s.siteID"></td>
                    <td><a href ng-click='select(s.siteID)'>{{s.siteName}}</a></td>
                    <td>{{s.city}}, {{s.state}}</td>
                    <td>{{s.treeCount}}</td>
                    <td>{{s.reportCount}}</td>
                    <td>
                        <a ng-if="auth.isAtleast('inventory')" ng-click="existingSiteModalOpen(s.siteID)" class="fa fa-pencil _size7 _grey hoverDisplay" bs-tooltip title="Edit" style="text-decoration: none;"></a> &nbsp;
                        <a ng-if="auth.is('admin')" ng-click="queueOrDequeueItemForDelete(s.siteID, $event)" class="fa fa-times _red _size7 hoverDisplay" bs-tooltip title="Delete" style="text-decoration: none;"></a>
                    </td>
                </tr>
            </tbody>
		</table>
	</div>

</div>
