<div ng-controller='SiteUsersCtrl' class="treeEditBox mobile-view-container" >
    <div class="row">
        <div class="content">
            <h2>
                <span>Add/Edit users for {{site.siteName}}</span>
            </h2>
            <div class="col-sm-6 col">
                <div class="row" style="margin-top: 12px;">
                    <div class="col-sm-8" style="font-weight: bold;">
                        Property contacts for {{site.siteName}}
                    </div>
                </div>
                <div class="row hoverHotspot" ng-repeat="c in contacts"
                     style="margin: 9px 24px 3px 1px; padding:8px 2px 8px 8px; background:#eee;"
                     ng-show="contacts.length > 0">
                    <a ng-click="unassign(c.userID, c.email, 'customer')" class="hand hoverDisplay" bs-tooltip
                       title="Remove assignment" style="text-decoration: none; ">
                        <i class="fa fa-times _red _size5"></i></a> &nbsp;
                    {{c.email}} - {{c.fName}} {{c.lName}}
                </div>

                <div class="row" style="margin: 15px 2px 10px 5px;">
                    <form ng-submit="addNewSiteContact($event)">
                        <input type="text" required placeholder="Email" style="width: 135px;" ng-model="newContact.email" id='newContactEmail'
                               user-auto-complete="contactSelect" user-roles="customer" user-ignore="contacts" bs-typeahead>
                        <input type="text" placeholder="First name" required style="width:90px" ng-model="newContact.fName">
                        <input type="text" placeholder="Last name" required style="width:90px;" ng-model="newContact.lName">
                        <input type="text" placeholder="Phone" style="width:105px;" ng-model="newContact.phone">
                        <button ng-click="addNewSiteContact($event);" type='button' class='btn btn-primary'>Save</button>
                    </form>
                </div>

                <br/> <!-- |||||||||||||||||-->

                <div class="row" style="margin-top: 12px;">
                    <div class="col-sm-8" style="font-weight: bold;">
                        AplusTree Reps
                    </div>
                </div>

                <div class="row hoverHotspot" ng-repeat="r in reps"
                     style="margin: 9px 24px 3px 1px; padding:8px 2px 8px 8px; background:#eee;"
                     ng-show="reps.length > 0">
                    <a ng-click="unassign(r.userID, r.email, 'staff')" class="hand hoverDisplay" bs-tooltip
                       title="Remove assignment" style="text-decoration: none; ">
                        <i class="fa fa-times _red _size5"></i></a> &nbsp;
                    {{r.email}} - {{r.fName}} {{r.lName}}  &nbsp; &nbsp;
                    <span style='color:#fff;background:#333; padding:4px 8px; text-transform:uppercase; font-size:.7em'>{{r.role}}</span>
                </div>
                <div class="row" style="margin: 15px 2px 10px 5px;">
                    <form ng-submit="addNewRepContact($event)">
                        <input type="text" required placeholder="Email" style="width: 105px;" ng-model="newRep.email" id='newRepEmail'
                               user-auto-complete="repSelect" user-roles="sales,inventory,admin" user-ignore="reps" bs-typeahead>
                        <input type="text" placeholder="First name" required style="width:80px" ng-model="newRep.fName">
                        <input type="text" placeholder="Last name" required style="width:80px;" ng-model="newRep.lName">
                        <input type="text" placeholder="Phone" style="width:105px;" ng-model="newRep.phone">
                        <select ng-model="newRep.role" required>
                            <option disabled value="">Role</option>
                            <option value="sales">Sales</option>
                            <option value="inventory">Inventory</option>
                        </select> &nbsp;
                        <button ng-click="addNewSiteRep($event);" type='button' class='btn btn-primary'>Save</button>
                    </form>
                </div>

                <br/>
                <div class='leftSpace10'>
                    <button type="button" class='btn btn-info' ng-click="finishUserEdit('site_edit')">Add Another Property</button>
                    <button type="button" class='btn btn-info' ng-click="finishUserEdit('client_edit')">Add Another Client</button>
                </div>
            </div>




        </div>
    </div>
</div>
