
<div id="searchPanel" class="mtop3" style="display:none;">
    <a id="zoomToMappedTrees" class="fa fa-tree _red _size7 search-panel-button mright3"
       ng-click="zoomToMappedTrees()" ng-if="googleMapSearchBoxValue && googleMapSearchBoxValue!=''" bs-tooltip title='Jump back to trees'></a>
    <input id="googleSearchbox" class="controls" type="text" placeholder="Find Address" ng-model="googleMapSearchBoxValue">
    <a id="searchButtonForSearchBox" class="fa fa-map-marker _red _size7 search-panel-button mleft3"
       ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
       ng-click="zoomToSearchMarker()"></a>
    <a id="clearButtonForSearchBox" class="fa fa-times _red _size7 search-panel-button mleft3"
       ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
       ng-click="cleanSearchMarkers();"></a>
</div>
<div id="searchPanel" class="mtop3" style="display:none;">
    <a id="zoomToMappedTrees" class="fa fa-tree _red _size7 search-panel-button mright3"
       ng-click="zoomToMappedTrees()" ng-if="googleMapSearchBoxValue && googleMapSearchBoxValue!=''" bs-tooltip title='Jump back to trees'></a>
    <input id="googleSearchbox" class="controls" type="text" placeholder="Find Address" ng-model="googleMapSearchBoxValue">
    <a id="searchButtonForSearchBox" class="fa fa-map-marker _red _size7 search-panel-button mleft3"
       ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
       ng-click="zoomToSearchMarker()"></a>
    <a id="clearButtonForSearchBox" class="fa fa-times _red _size7 search-panel-button mleft3"
       ng-show="googleMapSearchBoxValue && googleMapSearchBoxValue!=''"
       ng-click="cleanSearchMarkers();"></a>
</div>

