<div ng-include="'js/trees/action.tpl.html'" ng-if="auth.is('customer')"></div>
<div class='container' ng-controller="EstimatesListCtrl">    

	<div ng-if="auth.isAtleast('inventory')">
		<div class='pull-right topMargin5'>
			<div class="btn-group" bs-checkbox-group>
				<label ng-click="setStatusFilter('all')" class="btn btn-default"><input type="radio"></input> All</label>
				<label ng-click="setStatusFilter('sent')" class="btn btn-default"><input type="radio"></input> Sent</label>
				<label ng-click="setStatusFilter('approved')" class="btn btn-default"><input type="radio"></input> Approved</label>
				<label ng-click="setStatusFilter('completed')" class="btn btn-default"><input type="radio"></input> Completed</label>
			</div>
		</div>
		<br>
		<input type='text' ng-model='data.filterTextEntry' size=20 placeholder='Search'> 
		<a ng-if="data.filterTextEntry.length" ng-click="data.filterTextEntry=''" class='fa fa-times _red _size5 hand'></a>
		<span class='gray' ng-if='data.getSiteCount()'> &nbsp; {{data.getSiteCount()}} properties being displayed.</span>
	</div>
	<BR><BR>

    <div class='table-responsive' ng-if="displayedEstimates.length > 0">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th class="clickable-header" ng-click="sh.sortByColumn('reportID')">
                        ID <i ng-class="sh.columnClass('name')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('name')">
                        Estimate Name <i ng-class="sh.columnClass('name')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('siteName')">
                        Site Name <i ng-class="sh.columnClass('siteName')" class='silver'></i>
                    </th>
                    <th ng-if="auth.isAtleast('inventory')" class="clickable-header" ng-click="sh.sortByColumn('sales_email')">
                        Sales Rep <i ng-class="sh.columnClass('sales_email')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('total_price')">
                        Total <i ng-class="sh.columnClass('total_price')" class='silver'></i>
                    </th>
                    <th class="clickable-header" ng-click="sh.sortByColumn('status')">
                        Status <i ng-class="sh.columnClass('status')" class='silver'></i>
                    </th>
                    <th ng-if="auth.isAtleast('inventory')" class="clickable-header" ng-click="sh.sortByColumn('tstamp_updated')">
                        Last Update <i ng-class="sh.columnClass('tstamp_updated')" class='silver'></i>
                    </th>
                </tr>
            </thead>


            <tbody infinite-scroll="showMoreEstimates()" infinite-scroll-distance="3">
                <tr ng-repeat="e in displayedEstimates">
                    <td ng-bind="e.reportID"></td>
                    <td>
						<a ng-if="auth.isAtleast('inventory')" href="#/trees?reportID={{e.reportID}}" ng-bind="e.name_short" bs-tooltip title="{{e.name}}"></a>
						<a ng-if="!auth.isAtleast('inventory')" href="#/estimate/{{e.hashLink}}" ng-bind="e.name_short" bs-tooltip title="{{e.name}}"></a>
					</td>
                    <td ng-bind="e.siteName_short" title="{{e.siteName}}"></td>
                    <td ng-if="auth.isAtleast('inventory')" ng-bind="e.sales_email_short" title="{{e.sales_email}}"></td>
                    <td>$ {{e.total_price}}</td>
                    <td>
						<button ng-if="auth.isAtleast('inventory')" class="btn btn-default" ng-class="'clr-'+e.status" 
								ng-model="e.status" ng-change="setReportStatus(e,this)"
								placeholder="{{e.status}}"
								ng-options="s.id as s.txt for s in data.statuses(e.status)"
								bs-select onclick="return false;">
						</button> 
						<a href='' ng-if="!auth.isAtleast('inventory')" ng-bind='e.status' ng-class='"small-tag "+e.status'
							
					</td>
                    <td ng-if="auth.isAtleast('inventory')">{{e.tstamp_updated | formatDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
