<div ng-include="'js/trees/action.tpl.html'"></div>
<div class='container' ng-controller="EstimatesListCtrl">    
    <div class='table-responsive' ng-show="estimates.length > 0">
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Estimate Name</th>
                    <th>Site Name</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in estimates">
                    <td><a href="#/estimate/{{e.reportID}}" ng-bind="e.name" ng-click="goToEstimate(e.reportID)"></a></td>
                    <td ng-bind="e.siteName"></td>
                    <td>$ {{e.total_price}}</td>
                    <td>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
