<div class='popover-container' style="position: absolute;">
    <div class="alert alert-warning alert-dismissable" tabindex="-1" role="dialog">
        <div>
            Adjust all prices
            <label class="col-sm-6">Range(-100 to 100)</label>
            <form class="form-inline">
                <div class='panel-body'>
                    <span>
                       <input ng-model="$parent.adjustPercentage" type="number" min="-100" max="100"/>
                    </span>
                    <button type="button" class="btn" ng-click="ok();">OK</button>
                    <button type="button" class="btn btn-default " ng-click="cancel()">
                        CANCEL
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

