<div class='popover-container' style="position: absolute;">
    <div class="alert alert-warning alert-dismissable" tabindex="-1" role="dialog">
        <div>
            <label style="width: 100%">Adjust all prices by percent</label>
            <form class="form-inline">
                <div class='panel-body'>
                    <span>
                        <button class="button" ng-mousedown='mouseDown("down")' ng-mouseup='mouseUp()' ng-mouseleave="mouseUp()">
                           <i class="fa fa-minus"></i>
                       </button>
                       <input id="adjustPercentage" style="width: 50px" ng-model="adjustPercentage" ng-change="change()" type="text"/>
                        <button class="button" ng-mousedown='mouseDown("up")' ng-mouseup='mouseUp()' ng-mouseleave="mouseUp()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                    <br>
                    <br>
                    <div style="width: 100%;margin: 2px">
                        <labe class="pull-left" >Current SubTotal</labe>
                        <labe class="pull-right">{{report.total.items|formatPrice}}</labe>
                    </div>
                    </br>
                    <div style="width: 100%;margin: 2px">
                        <labe class="pull-left">New SubTotal</labe>
                        <labe class="pull-right">{{newTotal|formatPrice}}</labe>
                    </div>
                    <div style="width: 100%;margin: 2px">
                        <br>
                        <input type="checkbox" ng-model="doRoundPrice" ng-change="change()" class="pull-left">
                        <label class="pull-right">Round items to nearest dollar</label>
                    </div>
                    </br>
                    <div style="width: 100%;margin: 2px">
                        <button type="button" ng-disabled="" class="btn btn-default" ng-click="ok();">
                            <i class="fa fa-check"></i>
                            OK
                        </button>

                        <button type="button" class="btn btn-default " ng-click="cancel()">
                            <i class="fa fa-remove"></i>
                            CANCEL
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

