
<ul class='dropdown-menu' >
		<h1 style='margin-left:1em;'>Select a Preset:</h1>
        <li ng-repeat="svc in services track by $index">
            <a ng-click="onSelect(svc)" style='cursor:pointer; font-weight:bold;'>{{svc.name}}</a>
        </li>
        <div ng-show="services.length==0" style="text-align: center;font-size: large; margin-top: 50px;min-height: 100px;">
		  		Use this tool to save presets for items you use often.
        </div>

    <button type="button" style="margin: 10px;" add-edit-misc-service data="services" class="btn btn-default">
        <i class="fa fa-edit"></i>
        Add/Edit Presents
    </button>
    <button style="margin-right: 10px;" type="button" class="btn btn-default " ng-click="cancel()">
        <i class="fa fa-remove"></i>
        CANCEL
    </button>
</ul>
