<div class='popover-container'>
	<div class="alert alert-warning alert-dismissable" tabindex="-1" role="dialog">

		<div ng-if="type!='site'">
			Are you sure you want to delete this client?
			<form class="form-inline">
				<div class='panel-body'>
					<button type="button" class="btn" ng-click="deleteItems(c.clientID);$hide()">CONFIRM</button>
					<button type="button" class="btn btn-default " ng-click="queueOrDequeueItemForDelete(c.clientID);$hide()">CANCEL</button>
				</div>
			</form>
		</div>

		<div ng-if="type=='site'">
			Are you sure you want to delete this site?
			<form class="form-inline">
				<div class='panel-body'>
					<button type="button" class="btn" ng-click="deleteItems(s.siteID);$hide()">CONFIRM</button>
					<button type="button" class="btn btn-default " ng-click="queueOrDequeueItemForDelete(s.siteID);$hide()">CANCEL</button>
				</div>
			</form>
		</div>

	</div>
</div>