
<div class="filter-container" ng-show="isShown()">
    <div class="filterHeader filter-header">
        <h3>Hazards:</h3>
    </div>
    <div class="filterBlock filter-block">
        <div class="filter-items filter-items-inline filter-items-toggle">
            <div class='filterItems filter-item' ng-repeat="h in hazards" ng-show="tfsCounts[h.key]>0">
                <label class="toggle-label">
                    <input type="checkbox"  value="{{h.value}}"
                           ng-model="initDataHazards[h.key].selected"
                           ng-change="onFilterChange({ filterType: h.key', ID: '', value: initDataHazards[h.key].selected })" class="toggle-check">
                    <span class="text btn btn-gray btn-xs" ng-class="{'active' : initDataHazards[h.key].selected}">
                        <i ng-class='h.class'></i> {{h.name}}
                        <span class='filterTypeCount' ng-if="tfsCounts[h.key]>0">({{tfsCounts[h.key]}})</span>
                    </span>
                    <div class="clearfix"></div>
                </label>
            </div>
        </div>
    </div>
</div>

