
<table class="tree-list-container">
    <thead>
    <tr>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-check-square-o"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="toggleCheckedTrees({ opt: true })">ALL</a></li>
                    <li><a href ng-click="toggleCheckedTrees({ opt: 'thisYear' })">ALL {{thisYear}}</a></li>
                    <li><a href ng-click="toggleCheckedTrees({ opt: false })">NONE</a></li>
                </ul>
            </div>
        </td>
        <td colspan="3"><h6>{{selectedTrees.length}} of {{count}} trees selected </h6></td>
        <td><img src="img/add.png" height="18" width="18" ng-click="setStatus(true)" title="Add Tree" /></td>
    </tr>
    </thead>
</table>
