
<table class="tree-list-container">
    <thead>
    <tr>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-check-square-o"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="toggleCheckedTrees({ opt: true })">ALL</a></li>
                    <li><a href ng-click="toggleCheckedTrees({ opt: 'thisYear' })">ALL {{thisYear}}</a></li>
                    <li><a href ng-click="toggleCheckedTrees({ opt: false })">NONE</a></li>
                </ul>
            </div>
        </td>
        <td colspan="3"><h6>{{selectedTrees.length}} of {{count}} trees selected </h6></td>
		<td>
            <a href ng-if="auth.isAtleast('inventory')" ng-click='setStatus(true)' bs-tooltip title='Add Tree to Map'><i class="fa {{editModeCss}} white _size6"></i></a>
				<i class="fa fa-plus" style='visibility:hidden;'></i><!-- if this isnt here, the above rollover doesnt work right... wtf -->

				<!-- i removed the ba-tooltip because it was messing up the clickability of the link -->
            <a href ng-if="auth.isAtleast('inventory')" bulk-tree-editor site-id="siteID" treatments="treatments" species="species"
					title='Make Bulk Edits to this Property'><i class="fa fa-gear white _size6"></i></a>
				<i class="fa fa-gear" style='visibility:hidden;'></i><!-- if this isnt here, the above rollover doesnt work right... wtf -->

		</td>
    </tr>
    </thead>
</table>
